<!-- Message -->
<div class="container text-center vert-20 margin-bottom-0">
  <div class="margin-0-auto max-width-600 pad-10 pad-top-0">
    <h1 class="vert-10 font-weight-200 text-primary">
      <span ng-if="$state.current.name == 'promote.blog'">Add your blog</span>
      <span ng-if="$state.current.name == 'promote.social'">Add your social media & email</span>
      <span ng-if="$state.current.name == 'promote.seo'">Enhance your SEO</span>
    </h1>
    <h4 class="font-weight-200">
      <span ng-if="$state.current.name == 'promote.blog'">Your blog link will show automatically in your store's top bar.</span>
      <span ng-if="$state.current.name == 'promote.social'">Your accounts will show automatically in your store's top bar.</span>
      <span ng-if="$state.current.name == 'promote.seo'">Add a title and description to show in search engine results.</span>
    </h4>
  </div>
</div>
<!-- Message -->

<div class="container" ng-hide="promote.ee.loading">

  <div class="well white-background max-width-900 box-shadow margin-0-auto text-left">
    <div class="form-horizontal">
      <!-- SOCIAL -->
      <div ng-if="$state.current.name == 'promote.social'">
        <!-- EDITOR top bar social -->
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label">Facebook</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></span>
              <input type="text" class="form-control" placeholder="username" ng-model="promote.ee.meta.audience.social.facebook">
              <span ng-if="promote.ee.meta.audience.social.facebook" class="input-group-addon white-background"><a href="http://facebook.com/{{ promote.ee.meta.audience.social.facebook }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label">Pinterest</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-pinterest"></i></span>
              <input type="text" class="form-control" placeholder="username" ng-model="promote.ee.meta.audience.social.pinterest">
              <span ng-if="promote.ee.meta.audience.social.pinterest" class="input-group-addon white-background"><a href="http://pinterest.com/{{ promote.ee.meta.audience.social.pinterest }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label">Twitter</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></span>
              <input type="text" class="form-control" placeholder="username" ng-model="promote.ee.meta.audience.social.twitter">
              <span ng-if="promote.ee.meta.audience.social.twitter" class="input-group-addon white-background"><a href="http://twitter.com/{{ promote.ee.meta.audience.social.twitter }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label">Instagram</label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-instagram"></i></span>
              <input type="text" class="form-control" placeholder="username" ng-model="promote.ee.meta.audience.social.instagram">
              <span ng-if="promote.ee.meta.audience.social.instagram" class="input-group-addon white-background"><a href="http://instagram.com/{{ promote.ee.meta.audience.social.instagram }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-4 control-label">Contact email</label>
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Email" ng-model="promote.ee.meta.audience.contact.email">
              <span ng-if="promote.ee.meta.audience.contact.email" class="input-group-addon white-background"><a href="mailto:{{ promote.ee.meta.audience.contact.email }}" target="_blank"><i class="fa fa-send"></i></a>
            </div>
          </div>
        </div>
        <!-- /EDITOR top bar social -->
      </div>
      <!-- /SOCIAL -->

      <!-- BLOG -->
      <div ng-if="$state.current.name == 'promote.blog'">
        <div class="form-group vert-10">
          <label class="col-sm-3 control-label">Blog</label>
          <div class="col-sm-6">
            <div class="input-group vert-10">
              <span class="input-group-addon"><i class="fa fa-fw fa-link"></i></span>
              <input type="text" class="form-control" placeholder="http://" ng-model="promote.ee.meta.blog.url">
              <span ng-if="promote.ee.meta.blog.url" class="input-group-addon white-background"><a href="{{ promote.ee.meta.blog.url | addHttp }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- /BLOG -->

      <!-- SEO -->
      <div ng-if="$state.current.name == 'promote.seo'">
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Custom h1 tag</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Enter your title for search engines" ng-model="promote.ee.meta.h1">
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Custom meta description</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Describe your store for search engines" ng-model="promote.ee.meta.description">
          </div>
        </div>
      </div>
      <!-- /SEO -->
    </div>
  </div>
</div>
