<h5 class="vert-2">Current Category</h5>
<div class="input-group">
  <div class="input-group-btn" dropdown>
    <button dropdown-toggle type="button" class="btn btn-default dropdown-toggle"><i class="fa fa-fw fa-caret-down"></i></button>
    <ul class="dropdown-menu">
      <li><a ui-sref="app.storefront.shop({shopCategory: 'All'})">All Products</a></li>
      <li ng-repeat="category in user.storefront_meta.categories">
        <a ui-sref="app.storefront.shop({shopCategory: '{{ category }}'})">{{ category }}</a>
      </li>
    </ul>
  </div><!-- /btn-group -->
  <input type="text" class="form-control" placeholder="Category name" ng-model="$state.params.shopCategory" ng-disabled="$state.params.shopCategory == 'All'">
</div><!-- /input-group -->

<br>

<div class="alert alert-warning alert-dismissible margin-0" ng-hide="hideShopAlert">
  <button type="button" class="close" ng-click="hideShopAlert = !hideShopAlert">&times;</button>
  Use the <div class="btn-group">
    <div class="btn btn-xs btn-default">
      <i class="fa fa-arrow-up visible-xs-inline-block"></i>
      <i class="fa fa-arrow-left hidden-xs"></i>
    </div>
    <div class="btn btn-xs btn-default">
      <i class="fa fa-arrow-down visible-xs-inline-block"></i>
      <i class="fa fa-arrow-right hidden-xs"></i>
    </div>
  </div> arrows to reorder products in your store
  <hr class="vert-10">
  Use <div class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></div> to edit a product
</div>

<br ng-if="!hideShopAlert">

<h5 class="vert-2">Add a Category</h5>
<div class="input-group vert-2">
  <span class="input-group-addon"><i class="fa fa-fw fa-plus"></i></span>
  <input type="text" class="form-control" placeholder="Add a category">
</div>
