<div class="carousel storefront-carousel">
  <img ng-src="{{ user.storefront_meta.home.carousel[0].imgUrl }}" class="img-responsive full-width">
  <div class="position-absolute full-width {{ user.storefront_meta.home.carousel[0].btnPosition }}">
    <div class="well inline-block"
         ng-hide="!user.storefront_meta.home.carousel[0].headline && !user.storefront_meta.home.carousel[0].byline && !user.storefront_meta.home.carousel[0].btnText">
      <h3 class="margin-0">
        {{ user.storefront_meta.home.carousel[0].headline }}
      </h3>
      <p class="vert-2">
        {{ user.storefront_meta.home.carousel[0].byline }}
      </p>
      <a ng-show="user.storefront_meta.home.carousel[0].btnText" ui-sref="app.storefront.shop({ shopCategory: user.storefront_meta.home.carousel[0].linkCategory })" class="btn btn-default">
        {{ user.storefront_meta.home.carousel[0].btnText }}
      </a>
    </div>
  </div>
</div>

<div class="featured">
  <div class="full-width pad-10"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-offset-1 col-xs-4 col-md-2 overflow-hidden">
        <h4 class="margin-0">Products</h4>
        <hr>
        <ul class="nav nav-pills nav-stacked nav-compact">
          <li ng-repeat="category in user.storefront_meta.categories">
            <a ui-sref="app.storefront.shop({shopCategory: '{{ category }}'})">{{ category }}</a>
          </li>
        </ul>
      </div>
      <div class="col col-xs-8">
        <h4 class="margin-0">Featured</h4>
        <div class="full-width vert-20 overflow-hidden">
          <div ng-repeat="product in products | eeShopCategories:'Featured'" class="product-container inline-block width-160 vertical-align-top">
            <ee-storefront-product product="product"></ee-storefront-product>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
