<div class="featured">
  <div class="full-width pad-10"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-xs-4 col-md-2 overflow-hidden">
        <h4 class="margin-0">Products</h4>
        <hr>
        <ee-product-nav ng-if="products" products="products" class="nav nav-pills nav-stacked nav-compact"></ee-product-nav>
      </div>
      <div class="col col-xs-8 col-md-10">
        <h4 class="margin-0">{{ $state.params.shopCategory }}</h4>
        <div class="full-width vert-20 overflow-hidden">
          <div ng-repeat="product in products | eeShopCategories:$state.params.shopCategory" class="product-container inline-block width-160 vertical-align-top">
            <ee-storefront-product product="product"></ee-storefront-product>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
