<!-- ACCOUNT -->
<div class="max-width-900 margin-0-auto pad-20" ng-hide="account.ee.User.reading">
  <div class="well white-background box-shadow">
    <div class="max-width-600 margin-0-auto">
      <form class="form-horizontal vert-20">
        <!-- ACCOUNT store url -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Store URL</label>
          <div class="col-sm-5">
            <div class="input-group">
              <input type="text" ng-model="account.ee.User.user.username" class="form-control" placeholder="storename">
              <span class="input-group-addon">.eeosk.com</span>
            </div>
            <a ng-if="account.ee.User.user.username" href="http://{{ account.ee.User.user.username }}.eeosk.com" target="_blank" class="inline-block vert-5 margin-top-0">
              http://{{ account.ee.User.user.username }}.eeosk.com
            </a>
            <div ng-if="!account.ee.User.user.username" class="alert alert-info vert-5">Add a Store URL</div>
            <!-- <div ng-show="username && username.length > 4">
              Your store will be available at
              <h4 class='vert-2'><small><i class="fa fa-fw fa-globe"></i>http://</small>{{ username }}<small>.eeosk.com</small></h4>
              <hr class="vert-5">
            </div> -->
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Custom URL</label>
          <div class="col-sm-9">
            <input disabled type="text" class="form-control" placeholder="http://example.com (coming soon)">
            If you'd like to set up a custom URL, follow <a href="http://blog.eeosk.com/post/137306568028/setting-up-a-custom-domain-name" target="_blank">this guide</a>.
            Once you've done that, <a href="mailto:support@eeosk.com?Subject=Custom%20URL%20for%20{{ account.ee.User.user.username }}.eeosk.com&body=The%20URL%20I%20chose%20is:%20" target="_blank">contact us</a> to let us know what name you chose.
          </div>
        </div>
        <!-- /ACCOUNT store url -->

        <div class="form-group margin-0">
          <div class="col-sm-offset-3 col-sm-5">
            <hr class="vert-10">
          </div>
        </div>

        <!-- ACCOUNT login -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Login email</label>
          <div class="col-sm-5">
            <div class="input-group margin-0">
              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
              <input disabled type="email" class="form-control" ng-model="account.ee.User.user.email" placeholder="Enter your email">
            </div>
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Password</label>
          <div class="col-sm-5">
            <a ui-sref="reset" class="btn btn-default">Change password</a>
          </div>
        </div>
        <div class="form-group vert-5">
          <div class="col-sm-offset-3 col-sm-5 text-muted">
            Want to add your contact email for your customers?
            <a ui-sref="edit.social">Add it here</a>
          </div>
        </div>
        <!-- /ACCOUNT login -->

        <div class="form-group margin-0">
          <div class="col-sm-offset-3 col-sm-5">
            <hr class="vert-10">
          </div>
        </div>

        <!-- ACCOUNT paid to -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Earnings paid to</label>
          <div class="col-sm-5">
            <div class="input-group vert-5 margin-top-0">
              <span class="input-group-addon"><i class="fa fa-fw fa-paypal"></i></span>
              <input type="text" class="form-control" placeholder="PayPal email" ng-model="account.ee.User.user.storefront_meta.earnings_accounts.paypal">
            </div>
            <p ng-hide="account.ee.User.user.storefront_meta.earnings_accounts.paypal" class="margin-0">
              Enter your paypal email address to receive payment
            </p>
            <p ng-show="account.ee.User.user.storefront_meta.earnings_accounts.paypal" class="margin-0">
              Earnings will be paid via PayPal to <strong ng-bind="account.ee.User.user.storefront_meta.earnings_accounts.paypal"></strong>
            </p>
            <small>(more options coming soon)</small>
          </div>
        </div>
        <!-- /ACCOUNT paid to -->

        <div class="form-group margin-0">
          <div class="col-sm-offset-3 col-sm-5">
            <hr class="vert-10">
          </div>
        </div>

        <!-- ACCOUNT google analytics ID -->
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label font-weight-200">Google Analytics ID</label>
          <div class="col-sm-5">
            <div class="input-group vert-5 margin-top-0">
              <span class="input-group-addon"><i class="fa fa-fw fa-google"></i></span>
              <input type="text" class="form-control" placeholder="UA-12345678-1" ng-model="account.ee.User.user.storefront_meta.tracking.ga_id">
            </div>
          </div>
        </div>
        <!-- /ACCOUNT google analytics ID -->

        <!-- SAVE -->
        <div class="form-group vert-5">
          <div class="col-sm-5 col-sm-offset-3">
            <alert ng-if="account.ee.User.err.message" ng-bind="account.ee.User.err.message" type="info" close="closeAlert($index)"></alert>
            <ee-save ng-hide="!account.ee.User.user.username"></ee-save>
          </div>
        </div>

        <!-- /SAVE -->
      </form>
    </div>
  </div> <!-- /well -->

  <div class="vert-20 full-width text-center">
    <a href="mailto:support@eeosk.com" target="_blank">Contact Us</a>
  </div>
</div>

<!-- /ACCOUNT -->

<ee-loading loading="account.ee.User.reading"></ee-loading>
