<ee-navbar></ee-navbar>

<div class="office-background pad-10">
  <span class="inline-block full-width vert-20"></span>
  <span class="inline-block full-width vert-20 hidden-xs"></span>

  <div class="well max-width-600 margin-0-auto">
    <h1 class="margin-0">
      Reset password
    </h1>
    <small>
      <a ui-sref="signup">Sign up</a>&nbsp;or&nbsp;<a ui-sref="login">Log in</a>
    </small>
    <div class="alert alert-info vert-20" ng-show="alert" ng-bind="alert"></div>
    <div ng-hide="passwordInputs || loginButton">
      <form ng-hide="resetSent" ng-submit="sendPasswordResetEmail()" class="vert-20">
        <p>Enter the email address for your account. Instructions on how to reset your password will be sent to this address.</p>
        <input type="email"
               ng-model="email"
               placeholder="Email address"
               class="form-control input-lg vert-5"
               required
               autofocus>
        <button class="btn btn-lg btn-primary btn-block"
                type="submit"
                name="submitEmail"
                ng-bind="btnText"
                ng-disabled="btnText != 'Submit'"></button>
      </form>
    </div>

    <div ng-show="passwordInputs && !loginButton">
      <form ng-submit="resetPassword()" class="vert-20">
        <p>Enter and confirm your new password</p>
        <input type="password"
               ng-model="password"
               placeholder="New password"
               class="form-control input-lg vert-5"
               required
               autofocus>
        <input type="password"
               ng-model="password_confirmation"
               placeholder="Confirm new password"
               class="form-control input-lg vert-5"
               required>
        <button class="btn btn-lg btn-primary btn-block"
                type="submit"
                name="submitPassword"
                ng-bind="btnText"
                ng-disabled="btnText != 'Submit'"></button>
      </form>
    </div>
    <a ng-show="loginButton" ui-sref="login" class="btn btn-lg btn-primary btn-block vert-20" name="loginBtn">Login</a>
  </div>
</div>
