<div class="container vert-10">
  <!--close button-->
  <div>
    <button class="btn btn-default btn-block vert-10"
            ng-click="setFullScreen(false)">
      <i class="glyphicon glyphicon-remove"></i> Close Preview
    </button>
  </div>

  <!--image viewer-->
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6">
      <img ng-src="https://s3.amazonaws.com/eeosk/products/{{ product.images[currentImgI] }}" class="full-width">
    </div>
    <div class="col-sm-4">
      <div ng-repeat="img in product.images" class="product-preview-thumb">
        <a href=""
           ng-click="setCurrentImgI($index)"
           analytics-on
           analytics-category="previewer"
           analytics-event="interact">
          <img ng-src="https://s3.amazonaws.com/eeosk/products/{{ img }}"
               class="margin-5 max-width-80">
        </a>
      </div>
    </div>
  </div>

  <!--text content-->
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h3>
        {{ product.title }}
        <small ng-show="product.brand">{{ product.brand }}</small>
      </h3>
      <p>by {{ product.lister }}</p>
      <p marked="product.description"></p>
    </div>
  </div>

  <!--close button-->
  <div>
    <button class="btn btn-default btn-block"
            ng-click="setFullScreen(false)">
      <i class="glyphicon glyphicon-remove"></i> Close Preview
    </button>
  </div>
</div>
