<!-- LANDING -->
<ee-navbar ng-if="show.landing.content"></ee-navbar>

<div class="jumbotron jumbotron-landing desk-background text-center overflow-hidden transition-400"
     ng-class="{ 'pad-0 height-0': !show.landing.content }">
  <div class="container-fluid vert-20 max-width-600 margin-0-auto">
    <div class="inline-block full-width vert-20"></div>
    <h1 class="white-background margin-0 pad-20 line-height-1 round-top">Create an online store in minutes</h1>
    <p class="line-height-1 pad-15 round-bottom" style="background: rgba(255,255,255,0.9);">
      Choose inventory from a catalog of products and let eeosk manage overhead and shipping.
    </p>
    <div class="full-width inline-block vert-20"></div>
  </div>
  <div ng-click="tryItOut(show)" class="btn btn-lg btn-primary full-width max-width-300 vert-20 margin-top-0">
    Try it out
  </div>
</div>
<!-- /LANDING -->

<!-- EXAMPLE -->
<!-- <div class="pad-20">
  <div ng-click="showDemoStore(show)" class="btn btn-default">See a demo store</div>
</div> -->
<ee-example-store show="show"></ee-example-store></div>
<!-- /EXAMPLE -->

<!-- STORE -->
<div ng-show="show.store.content">
  <div class="navbar navbar-fixed-top" style="z-index: 5000; height: 52px;"></div>
  <ee-storefront-header ng-show="show.store.navbar" class="navbar-fixed-top"></ee-storefront-header>

  <div class="white-background position-relative" style="margin-top: 52px;">
    <div class="carousel storefront-carousel">
      <img ng-src="{{ user.storefront_meta.home.carousel[0].imgUrl }}"
           class="img-responsive full-width transition-200"
           ng-class="show.store.mainImage ? 'max-height-1200' : 'max-height-0'">
    </div>
  <!--
    <div class="featured">
      <div ng-if="storefront.product_selection.length > 0" class="container-fluid">
        <div class="full-width pad-10"></div>
        <div class="row">
          <div class="col col-md-offset-1 col-xs-4 col-md-2 overflow-hidden">
            <h4 class="margin-0">Products</h4>
            <hr>
            <ee-shop-nav ng-if="storefront" storefront="storefront" class="nav nav-pills nav-stacked nav-compact"></ee-shop-nav>
          </div>
          <div class="col col-xs-8 position-inherit">
            <h4 class="margin-0">Featured</h4>
            <div class="full-width vert-20 overflow-hidden">
              <div ng-repeat="product in storefront.product_selection" class="product-container inline-block width-160 vertical-align-top">
                <ee-product-for-storefront product="product"></ee-product-for-storefront>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="storefront.product_selection.length <= 0" class="pad-10">
        <h2 class="full-width text-center">Coming soon</h2>
        <p ng-if="isBuilder" class="full-width text-center">
          (&nbsp;<a ui-sref="catalog">add products</a>&nbsp;and they will appear here&nbsp;)
        </p>
      </div>
    </div> /featured -->

  </div>
</div>
<!-- /STORE -->

<!-- EDITOR -->
<div ng-show="show.editor.content">
  <div ng-show="show.editor.navbar" class="navbar navbar-inverse margin-0 round-0">
    <div class="container-fluid text-center full-width">
      <h2 class="white-color margin-10">
        <i class="fa fa-fw fa-arrow-circle-down"></i>&nbsp;BUILD YOUR STORE&nbsp;<i class="fa fa-fw fa-arrow-circle-down"></i>
      </h2>
    </div>
  </div>

  <div class="full-width pad-10">

    <form class="form-horizontal">
      <!-- TOP BAR COLORS -->
      <div class="form-group vert-2">
        <label class="col-sm-3 control-label">Top bar colors</label>
        <div class="col-sm-2">
          <div class="position-relative inline-block">
            <div class="input-group" colorpicker colorpicker-parent="true"
                 ng-model="user.storefront_meta.home.topBarBackgroundColor">
              <span class="input-group-addon hover-pointer"><i class="fa fa-fw fa-paint-brush"></i></span>
              <input name="storefront_meta.home.topBarColor"
                     ng-model="user.storefront_meta.home.topBarBackgroundColor"
                     class="form-control"
                     ng-style="{ 'background-color': user.storefront_meta.home.topBarBackgroundColor }">
            </div>
            <div ng-show="show.popover.topBarBackgroundColor" class="popover bottom in inline-block full-width max-width-100-pct" style="top: 30px;">
              <div class="arrow"></div>
              <div class="popover-title">OK, let's build!</div>
              <div class="popover-content">Click to change your store's top bar color</div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="position-relative inline-block">
            <div class="input-group" colorpicker colorpicker-parent="true"
                 ng-model="user.storefront_meta.home.topBarColor">
              <span class="input-group-addon hover-pointer"><i class="fa fa-fw fa-font"></i></span>
              <input name="storefront_meta.home.topBarBackgroundColor"
                     ng-model="user.storefront_meta.home.topBarColor"
                     class="form-control"
                     ng-style="{ 'background-color': user.storefront_meta.home.topBarColor }">
            </div>
            <div ng-show="show.popover.topBarColor" class="popover bottom in inline-block full-width max-width-100-pct" style="top: 30px;">
              <div class="arrow"></div>
              <div class="popover-content">Click to change your store's top bar font color</div>
            </div>
          </div>
        </div>
      </div>
      <!-- /TOP BAR COLORS -->
      <!-- CAROUSEL IMAGE -->
      <div ng-show="show.editor.mainImage" class="form-group vert-2">
        <label class="col-sm-3 control-label">Main image</label>
        <div class="col-sm-4">
          <div class="position-relative" dropdown>
            <div class="hover-pointer position-relative" dropdown-toggle>
              <div class="btn btn-sm btn-default position-absolute margin-5">
                <div class="fa fa-fw fa-chevron-down"></div>
              </div>
              <img ng-src="{{ user.storefront_meta.home.carousel[0].imgUrl }}" class="img-responsive full-width vert-2">
            </div>
            <ul class="dropdown-menu" style="left: -2px; right: -2px;">
              <li class="margin-10 vert-0">
                Select or upload an image&nbsp;&nbsp;<small><em class="text-muted">1200x400px</em></small>
                <br>
                <ee-cloudinary-upload class="inline-block width-200"></ee-cloudinary-upload>
              </li>
              <img ng-repeat="img in defaultImages" ng-src="{{ img }}" class="full-width hover-pointer pad-2" ng-click="setImg(show,img)"/>
            </ul>
          </div>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
      <!-- /CAROUSEL IMAGE -->
      <!-- TITLE -->
      <div ng-show="show.editor.title" class="form-group vert-5">
        <label class="col-sm-3 control-label">Store title</label>
        <div class="col-sm-3">
          <input type="text" ng-model="user.storefront_meta.home.name" class="form-control" placeholder="Store Title (optional)">
        </div>
      </div>
      <!-- /TITLE -->
    </form>
  </div>
</div>
<!-- /EDITOR -->

<div ng-show="show.landing.content" class="inline-block full-width pad-20 gray-background">
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-1">
      <div ng-click="showDemoStore(show)" class="btn btn-default" ng-class="{ 'active': show.example.content }">See a demo store</div>
      <a ui-sref="login" class="btn btn-default">Login</a>
      <br>
      <div class="vert-10">
        <a ui-sref="terms">Terms & Conditions</a>
        <br>
        <a ui-sref="privacy">Privacy Policy</a>
      </div>
      <br>
    </div>
    <div class="col col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col col-sm-6 col-sm-offset-1 text-muted">
      &copy;2015 eeosk, Inc.
    </div>
  </div>
</div>

<div ng-show="show.editor.content" style="position: fixed; bottom: 10px; left: 10px;">
  <div class="btn btn-sm btn-default" ng-click="reset(show)">
    <i class="fa fa-fw fa-arrow-left"></i>&nbsp;back to home page
  </div>
</div>
