<img src="https://cdn.shopify.com/s/files/1/0269/1895/files/1398160_444856545635705_1670899057_o_large.jpg?4292" class="img-responsive">

<div class="pad-5">
  <h4>Common Deer was founded on the idea that life is better with a bit of character.</h4>
  <p>We also believe that “cheap” is actually quite expensive… in the long run.</p>
  <p>So, we’re obsessed with awesome things that make us feel good. We comb vintage sales, auctions, craft fairs, etsy, and more to find products worthy of our Common Deer stamp. We love small business, small batch production and products that are USA-made, eco-friendly, fair-trade, re-purposed, or vintage. As we grow, we are working towards having our entire collection fit those buzz words. We know that with your help in supporting small business, new designers, artisans, and craftspeople it will result in collective success.</p>
  <p>We want you to feel great about the products you purchase, how you decorate your home, and the gifts you give. At our core is the exploration of how it is made, the people behind the product, and why. The story is what sells us – and we encourage you to think more about “the story” behind what you’re purchasing even outside of Common Deer.</p>

  <h4>The people behind Common Deer…</h4>
  <p>Yes, it’s a family.</p>
  <p>With Sharon at the helm, the Beal family is on an adventure. With over 40 years in the business world, Sharon decided it was finally time to make an impact while pursuing her passion for décor and fine things. With an eye for design and a passion for supporting small business – Sharon is obsessed with “the story” behind each product and “putting it all together.” John, Sarah, and Johnny all provide support in managing aspects of the business, including the hunt for cool things with character.</p>

  <h4>About the name…</h4>
  <p>No one ever said that naming a business is an easy feat. With many months, pre-mature domain name purchases, and endless brainstorms – landing on “Common Deer” – was a completely accident.</p>
  <p>Yes, Common Deer is meant to be a play on “commandeer” – as we are a sailing family. Luckily, we are not the type to pirate your ship. Further breaking down the name – “Deer”, because we are nature-obsessed and are concerned with the impact of our items, environmentally, as well as socially. Also, it’s super fun to explain how to spell our name by throwing up hand antlers – do it, you’ll enjoy it too. “Common” because we know that if everyone would live with the ‘common good’ in mind, we would all benefit.</p>

  <h4>Common Deer - the act of making something your own by embracing the character and story behind each purchase and gift."</h4>
  <br>
</div>
