<ee-navbar></ee-navbar>

<div class="landing-background pad-10">
  <span class="inline-block full-width vert-20"></span>
  <span class="inline-block full-width vert-20 hidden-xs"></span>

  <div class="well max-width-600 margin-0-auto">
    <h1 class="margin-0">
      Sign in
    </h1>
    <small>Want to create a store?&nbsp;<a ui-sref="signup">Sign up</a></small>
    <form ng-submit="login.login()" class="vert-20">
      <div class="alert alert-info" ng-show='login.alert' ng-bind="login.alert"></div>
      <input type="email"
             ng-model="login.email"
             placeholder="Email address"
             class="form-control input-lg vert-5"
             required
             autofocus>
      <input type="password"
             ng-model="login.password"
             placeholder="Password"
             class="form-control input-lg vert-5"
             required>
      <p class="full-width text-right">
        <small><a ui-sref="reset">Forgot password</a></small>
      </p>
      <button class="btn btn-lg btn-primary btn-block"
              type="submit"
              ng-bind="login.btnText"
              ng-disabled="login.btnText != 'Sign in'"></button>
    </form>
  </div>
</div>
