<!-- SELECTIONS -->
<div id="selections" class="margin-15 margin-top-0 text-center position-relative min-height-600" ng-hide="selections.ee.loading">

  <div class="margin-20">
    <div class="row">
      <div class="col col-sm-4 col-sm-offset-4 vert-5">
        <div class="position-relative" dropdown>
          <div class="btn btn-default btn-block" dropdown-toggle>
            <span ng-bind="selections.data.inputs.collection | humanize"></span>
            <span ng-hide="selections.data.inputs.collection">Your Collections</span>
            &nbsp;<span class="caret"></span>
          </div>
          <ul class="dropdown-menu full-width">
            <li><a href ng-click="selections.fns.setCollection()">All</a></li>
            <li ng-repeat="collection in selections.ee.collections.slice().reverse()" ng-class="{ active: collection == selections.data.inputs.collection }">
              <a href ng-click="selections.fns.setCollection(collection)">{{ collection | humanize }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- TODO add / remove collections -->
      <!-- <div class="col col-sm-3 vert-5">
        <form class="margin-0-auto max-width-600" ng-submit="selections.fns.search()">
          <div class="input-group">
            <input type="text" ng-model="selections.data.inputs.search" class="form-control" placeholder="Add a Collection" disabled>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" name="search-btn">
                <i class="fa fa-fw fa-plus"></i>
              </button>
            </span>
          </div>
        </form>
      </div> -->
    </div>

    <div ng-hide="selections.data.count <= selections.data.inputs.perPage">
      <pagination total-items="selections.data.count"
        items-per-page="selections.data.inputs.perPage"
        ng-model="selections.data.inputs.page"
        max-size="5"
        class="pagination-sm margin-0 vertical-align-top"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
        boundary-links="true"
        rotate="false"
        ng-change="selections.fns.update()">
      </pagination>
    </div>

  </div>

  <div class="margin-0-auto" style="max-width: 920px;">
    <div ng-repeat="selection in selections.data.selections" class="well text-center inline-block pad-5 margin-2 white-background box-shadow" style="width: 140px;">
      <div class="pad-10 text-left">
        <a ui-sref="selectionView({ id: selection.id })">
          <img ng-src="{{ selection.image | midsize }}" class="full-width gray-border hover-success-border">
        </a>
        <div>
          <p ng-bind="selection.title" class="font-weight-200" style="max-height: 50px; overflow: hidden;"></p>
          <h4 ng-bind="selection.selling_price | centToDollar"></h4>
        </div>
      </div>
      <div class="btn-group">
        <div class="btn btn-default font-weight-200" ng-class="{ 'btn-warning': selection.featured }" ng-click="selections.fns.toggleFeatured(selection)" ng-disabled="selection.updating">Feature<span ng-if="selection.featured">d</span></div>
        <div ui-sref="selectionView({ id: selection.id })" class="btn btn-default"><i class="fa fa-pencil"></i></div>
      </div>
      <button ng-click="selections.fns.setCollection(selection.collection)" class="btn btn-default btn-sm btn-block vert-10 margin-bottom-0 overflow-hidden">
        {{ selection.collection | humanize }}
      </button>
      <!-- TODO add reordering -->
      <!-- <div class="btn-group vert-10 margin-bottom-0">
        <button class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-default"><i class="fa fa-tag"></i></button>
        <button class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
      </div> -->
    </div>

    <div ng-show="!selections.data.searching && selections.data.selections.length <= 0">
      <div class="pad-20">No selections</div>
    </div>
  </div>

  <div ng-hide="selections.data.searching || selections.data.count <= selections.data.inputs.perPage" class="pad-20 vert-20">
    <pagination total-items="selections.data.count"
      items-per-page="selections.data.inputs.perPage"
      ng-model="selections.data.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="selections.fns.update()">
    </pagination>
  </div>

</div>

<ee-loading loading="selections.data.searching"></ee-loading>
<!-- /SELECTIONS -->
