<div class="modal-header pad-10" id="modal-header">
  <a class="close pad-5" ng-click="$close()">&times;</a>
  <div class="btn btn-group pad-0">
    <div class="btn btn-default font-weight-200" ng-click="modal.tab = 'title'" ng-class="{ active: modal.tab == 'title' }">Edit title</div>
    <div class="btn btn-default font-weight-200" ng-click="modal.tab = 'price'" ng-class="{ active: modal.tab == 'price' }">Edit pricing</div>
    <div class="btn btn-default font-weight-200" ng-click="modal.tab = 'add'" ng-class="{ active: modal.tab == 'add' }">Add</div>
  </div>
</div>

<div class="modal-body" ng-class="{ 'opacity-05':  modal.product.updating }">
  <div class="container-fluid">
    <div class="row">
      <!-- Edit -->
      <div class="col col-sm-7">
        <div class="text-left" ng-if="!modal.reading">
          <!-- Title -->
          <form class="form-group" ng-submit="modal.customizationFns.updateProductTitle(modal.product)" ng-show="modal.tab == 'title'">
            <div>
              <h4 class="margin-top-0 font-weight-200 text-info">Edit your title</h4>
              <a href="https://www.google.com/search?q={{ modal.product.title | pluses }}" target="_blank" class="btn btn-xs btn-link pad-left-0">Search this title on google <i class="fa fa-fw fa-external-link"></i></a>
              <input type="text" ng-model="modal.product.title" class="form-control" placeholder="Product Title (required)" />
            </div>
            <!-- Save title -->
            <div class="vert-10">
              <button class="btn btn-primary" type="submit" ng-disabled="modal.product.updating">
                <i class="fa fa-fw fa-save"></i>&nbsp;Save
              </button>
            </div>
            <!-- /Save title -->
          </form>
          <!-- /Title -->
          <!-- Prices -->
          <form class="form-group" ng-submit="modal.customizationFns.updateProductPricing(modal.product)" ng-show="modal.tab == 'price'">
            <div>
              <h4 class="margin-top-0 font-weight-200 text-info">Edit your pricing</h4>
              <div>
                <div class="btn btn-xs btn-link pad-left-0" ng-click="modal.setPricing('recommended')">Set <span ng-if="modal.product.skus.length > 3">all </span>to Recommended</div>
                <div class="btn btn-xs btn-link" ng-click="modal.setPricing('min')">Min</div>
                <div class="btn btn-xs btn-link" ng-click="modal.setPricing(margin)" ng-repeat="margin in modal.margin_array">{{ margin*100 }}%</div>
              </div>
              <div class="vert-10 margin-top-0" ng-class="{ 'max-height-200 overflow-y-scroll': modal.product.skus.length > 3 }">
                <div ng-repeat="sku in modal.product.skus">
                  <div ng-if="modal.product.skus.length > 1" class="line-height-1" ng-bind="sku.selection_text"></div>
                  <ee-price-editor sku="sku" ng-if="!modal.reading && sku.baseline_price"></ee-price-editor>
                  <hr class="vert-15">
                </div>
              </div>
            </div>
            <!-- Save prices -->
            <div class="vert-10">
              <button class="btn btn-primary" type="submit" ng-disabled="modal.product.updating">
                <i class="fa fa-fw fa-save"></i>&nbsp;Save
              </button>
            </div>
            <!-- /Save prices -->
          </form>
          <!-- /Prices -->
          <!-- Add to collection -->
          <div ng-if="modal.tab == 'add'">
            <h4 class="margin-top-0 font-weight-200 text-info">
              Add to a collection
              <span ng-if="modal.product.added">&nbsp;<i class="fa fa-fw fa-check text-success"></i></span>
            </h4>
            <div ng-if="modal.ee.Products.search.lastCollectionAddedTo" class="list-group vert-10 margin-top-0">
              <a href class="list-group-item box-shadow"
                ng-repeat="collection in modal.ee.Collections.collections"
                ng-if="collection.title && collection.id == modal.ee.Products.search.lastCollectionAddedTo"
                ng-bind="collection.title"
                ng-click="modal.collectionsFns.addProduct(collection, modal.product)">
              </a>
            </div>
            <div class="list-group gray-border box-shadow" style="max-height: 275px; overflow-y: scroll;">
              <a href class="list-group-item"
                ng-repeat="collection in modal.ee.Collections.collections"
                ng-if="collection.title && collection.id != modal.ee.Products.search.lastCollectionAddedTo"
                ng-bind="collection.title"
                ng-click="modal.collectionsFns.addProduct(collection, modal.product)">
              </a>
            </div>
            <div class="alert alert-info" ng-if="modal.product.err" ng-bind="modal.product.err"></div>
          </div>
          <!-- /Add to collection -->
        </div>
        <ee-loading loading="modal.reading"></ee-loading>
      </div>
      <!-- /Edit -->

      <!-- Product preview -->
      <div class="col col-sm-5">
        <div class="inline-block white-background">
          <div style="max-width: 270px;">
            <img ng-src="{{ modal.product.image | midsize }}" class="full-width gray-border box-shadow">
            <p ng-bind="modal.product.title" class="vert-5 font-weight-200"></p>
            <div class="vert-10 margin-top-0">
              <h4 class="inline-block vert-0" ng-bind="modal.product.prices | priceRange"></h4>
              <!-- <h5 class="inline-block vert-0 text-muted font-weight-200" ng-if="modal.product.msrps && Math.min.apply(null, modal.product.msrps) > Math.min.apply(null, modal.product.regular_prices)">&nbsp;<s>{{ modal.product.msrps | priceRange }}</s>&nbsp;</h5> -->
              <a ui-sref="productAdd({ id: modal.product.id })" class="btn btn-link pad-left-0" ng-click="$close()">View product page</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /Product preview -->
    </div>
  </div>
</div>
