<div class="gray-background pad-5">
  <div ng-include="'builder/collections/collection.partial.edit.image.html'"></div>
</div>

<nav class="navbar ee-builder-subnav border-bottom-gray round-0 text-center" style="top: 0 !important; z-index: 1;"
  ng-hide="collection.data.reading && !collection.data.collection.id">
  <div class="container">
    <div class="full-width margin-0-auto max-width-600">
      <div class="btn-group btn-group-justified vert-7">
        <div ng-if="collection.data.products.length > 0" class="btn btn-default font-weight-200" ng-class="{ active: collection.in }" ng-click="collection.showIn()">In this collection</div>
        <div class="btn btn-default font-weight-200" ng-class="{ active: !collection.in }" ng-click="collection.showAdd()">Add products</div>
      </div>
    </div>
  </div>
</nav>

<div class="container text-center vert-20">

  <div ng-if="collection.in" ng-include="'builder/collections/collection.partial.products.html'"></div>
  <div ng-if="!collection.in" ng-include="'builder/collections/collection.partial.add.products.html'"></div>

</div>

<ee-loading loading="collection.data.reading"></ee-loading>
