<div ng-hide="collection.data.reading" class="container text-center vert-20">

  <!-- PRODUCTS -->
  <div class="full-width text-center margin-0">

    <pagination ng-if="collection.data.count > collection.data.perPage"
      total-items="collection.data.count"
      items-per-page="collection.data.perPage"
      ng-model="collection.data.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collection.update()">
    </pagination>
  </div>

  <div class="vert-20 text-center">
    <ee-product-for-builder
      ng-repeat="product in collection.data.products"
      product="product"
      collection="collection.data.collection">
    </ee-product-for-builder>
    <a ui-sref="products" ng-if="collection.data.products.length < 1" class="btn btn-link">
      Add products
    </a>
  </div>

  <div class="full-width text-center margin-0">
    <pagination ng-if="collection.data.count > collection.data.perPage"
      total-items="collection.data.count"
      items-per-page="collection.data.perPage"
      ng-model="collection.data.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collection.update()">
    </pagination>
  </div>
  <!-- /PRODUCTS -->

</div>
