<!-- Message -->
<div class="container vert-10 text-center">
  <div class="well white-background box-shadow">
    <h4 class="font-weight-200">
      A preview of your home page is shown below.
      <br>
      Your store is live at:
    </h4>
    <!-- Domain -->
    <ee-builder-live-button
      ng-if="collections.ee.User.user"
      message="target"
      class="vert-2"
      btn-class="btn btn-success"
      user="collections.ee.User.user">
    </ee-builder-live-button>
    <br>
    <a ui-sref="account"><small>Change store URL</small></a>
    <!-- /Domain -->
  </div>
</div>
<!-- !Message -->

<hr class="margin-bottom-0">

<div class="full-width text-center position-relative hover-trigger"
  ng-hide="collections.ee.Collections.reading || collections.ee.Collections.creating">
  <!-- <a href ng-click="collections.create()">Create a new collection</a> -->
  <!-- style for preview -->
  <style ng-if="collections.ee.User.user.storefront_meta">
    .navbar.ee-store-subnav { background-color: {{ collections.ee.User.user.storefront_meta.brand.color.secondary }}; }
    .navbar.ee-store-subnav .nav > li > a {
      color: {{ collections.ee.User.user.storefront_meta.brand.color.tertiary }};
      border-bottom: 5px solid {{ collections.ee.User.user.storefront_meta.brand.color.tertiary }};
    }
  </style>
  <!-- /style for preview -->
  <ee-storefront-header
    meta="collections.ee.User.user.storefront_meta"
    fluid="true"
    blocked="true"
    ng-hide="collections.ee.loading"
    style="left:0; right:0; top: 0; z-index: 2;">
  </ee-storefront-header>

  <div class="position-absolute top-left-bottom-right-0 pad-5 hover-visible transition-400"
    style="background-color: rgba(100,100,100,0.8); border: 10px solid #AAA; z-index: 10;">
    <div class="full-width inline-block vert-5 hidden-xs"></div>
    <h3 class="white-color vert-5 margin-top-0">Edit your:</h3>
    <div class="btn btn-default" ng-click="collections.modalFns.open('edit_logo')">Logo<span class="hidden-xs">&nbsp;& Colors</span></div>
    <div class="btn btn-default">Social<span class="hidden-xs">&nbsp;Media</span></div>
    <div class="btn btn-default">Blog</div>
    <div class="btn btn-default">Categories</div>
  </div>
</div>

<div ng-hide="collections.ee.Collections.reading || collections.ee.Collections.creating"
  class="container max-width-900 text-center vert-50 margin-top-0">

  <div class="full-width text-center margin-0">
    <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
      total-items="collections.ee.Collections.count"
      items-per-page="collections.ee.Collections.perPage"
      ng-model="collections.ee.Collections.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collections.update()">
    </uib-pagination>
  </div>

  <div class="vert-20">
    <ee-collection-for-builder
      ng-repeat="collection in collections.ee.Collections.collections"
      collection="collection">
    </ee-collection-for-builder>
  </div>

  <div class="full-width text-center margin-0">
    <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
      total-items="collections.ee.Collections.count"
      items-per-page="collections.ee.Collections.perPage"
      ng-model="collections.ee.Collections.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collections.update()">
    </uib-pagination>
  </div>

</div>

<ee-empty-message
  ng-if="!collections.ee.Collections.reading && collections.ee.Collections.collections.length <= 0"
  main-message="Start your store"
  btn-message="Add collections"
  btn-sref="collectionsAdd"
  sub-message="When you add collections to your store, they will show here.">
</ee-empty-message>

<ee-loading loading="collections.ee.Collections.reading || collections.ee.Collections.creating"></ee-loading>
