<div ng-include="'builder/a.common/homepage.x.html'"></div>

<div class="container">
  <div class="vert-50">
    <!-- Message -->
    <ee-builder-section-heading heading="Add a collection" heading-class="text-success" subheading="Choose collections below to add to your store."></ee-builder-section-heading>
    <!-- !Message -->

    <div class="full-width text-center pad-5 pad-top-0">
      <a href ui-sref="collectionsNew" class="btn btn-primary">Create a new collection</a>
    </div>

    <div ng-hide="collections.ee.Collections.reading"
      class="text-center max-width-900 margin-0-auto">

      <div class="full-width text-center margin-0">
        <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
          total-items="collections.ee.Collections.count"
          items-per-page="collections.ee.Collections.perPage"
          ng-model="collections.ee.Collections.page"
          max-size="5"
          class="pagination-sm margin-0 vertical-align-top"
          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          boundary-links="true"
          rotate="false"
          ng-change="collections.update()">
        </uib-pagination>
      </div>

      <div class="vert-10">
        <ee-collection-for-builder
          ng-repeat="collection in collections.ee.Collections.collections"
          collection="collection"
          use-add-overlay="true">
        </ee-collection-for-builder>
      </div>

      <div class="full-width text-center margin-0">
        <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
          total-items="collections.ee.Collections.count"
          items-per-page="collections.ee.Collections.perPage"
          ng-model="collections.ee.Collections.page"
          max-size="5"
          class="pagination-sm margin-0 vertical-align-top"
          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
          boundary-links="true"
          rotate="false"
          ng-change="collections.update()">
        </uib-pagination>
      </div>

      <div ng-if="collections.ee.Collections.count < 1" class="full-width text-center margin-0">
        No collections found
      </div>

    </div>

    <ee-loading loading="collections.ee.Collections.reading"></ee-loading>
  </div>
</div>
