<!-- Message -->
<ee-builder-section-heading heading="Your product collections" heading-class="text-info" subheading="The collections in your store are shown below. Featured collections show on your store's home page."></ee-builder-section-heading>
<!-- !Message -->

<div class="full-width text-center" style="margin-top: -15px;">
  <a href ng-click="collections.create()">Create a new collection</a>
</div>

<div ng-hide="collections.ee.Collections.reading || collections.ee.Collections.creating" class="container text-center vert-50 margin-top-0">

  <div class="full-width text-center margin-0">
    <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
      total-items="collections.ee.Collections.count"
      items-per-page="collections.ee.Collections.perPage"
      ng-model="collections.ee.Collections.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collections.update()">
    </uib-pagination>
  </div>

  <div class="row vert-20">
    <ee-collection-for-builder
      ng-repeat="collection in collections.ee.Collections.collections"
      collection="collection">
    </ee-collection-for-builder>
  </div>

  <div class="full-width text-center margin-0">
    <uib-pagination ng-if="collections.ee.Collections.count > collections.ee.Collections.perPage"
      total-items="collections.ee.Collections.count"
      items-per-page="collections.ee.Collections.perPage"
      ng-model="collections.ee.Collections.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="collections.update()">
    </uib-pagination>
  </div>

</div>

<ee-empty-message
  ng-if="!collections.ee.Collections.reading && collections.ee.Collections.collections.length <= 0"
  main-message="Start your store"
  btn-message="Add collections"
  btn-sref="collectionsAdd"
  sub-message="When you add collections to your store, they will show here.">
</ee-empty-message>

<ee-loading loading="collections.ee.Collections.reading || collections.ee.Collections.creating"></ee-loading>
