<nav class="navbar navbar-default main-navbar navbar-fixed-top margin-0 round-0 no-side-border"
     style="min-height: 30px;">
  <div class="container-fluid pad-5">
    <a ui-sref="storefront" class="btn btn-sm btn-default" ng-class="{ active: state.indexOf('storefront') > -1 }">Preview</a>
    &nbsp;
    <a ui-sref="edit" class="btn btn-sm btn-default" ng-class="{ active: state.indexOf('edit') > -1 }">Edit</a>
    &nbsp;
    <a ui-sref="catalog" class="btn btn-sm btn-default" ng-class="{ active: state.indexOf('catalog') > -1 }">Add Products</a>
    <div class="pull-right">
      <div class="btn btn-sm btn-primary" ng-click="save()">
        <i class="fa fa-save"></i>&nbsp;&nbsp;Save
      </div>
    </div>
  </div>
</nav>
