<nav class="navbar navbar-absolute-top navbar-transparent" id="navbar-top">
  <div class="container-fluid">

    <div class="margin-5">
      <a ui-sref="landing"
         class="pull-left"
         style="margin-left: 38px;">
        <img src="../img/eeosk_250x67.png" class="img-responsive width-120" alt="eeosk logo" />
      </a>
      <div ng-hide="user" class="collapse navbar-collapse">
        <div class="pull-right" role="form">
          <a ui-sref="login"
             class="btn btn-default gray-btn"
             analytics-on
             analytics-category="user-management"
             analytics-event="Login">
            Login
          </a>
          <a ui-sref="signup"
             class="btn btn-primary"
             analytics-on
             analytics-category="user-management"
             analytics-event="Signup">
            Sign up
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
