<nav class="navbar navbar-absolute-top navbar-transparent" id="navbar-top">
  <div class="container-fluid">
    <div class="margin-5">
      <a ui-sref="landing" class="pull-left">
        <img src="../img/eeosk_250x67.png" class="width-120" style="margin-top: -2px;" />
      </a>
      <div class="pull-right" role="form">
        <a ui-sref="login"
           class="btn btn-success"
           analytics-on
           analytics-category="user-management"
           analytics-event="login">
          Sign in
        </a>
      </div>
    </div>
  </div>
</nav>
