<div class="open-nav {{ offscreenColor }}-background max-width-250" ng-class="{ open: toggle, narrow: narrowToggle }">
  <div ng-if="narrowToggle" ui-sref="app.storefront.home" class="btn btn-primary margin-right-4" ng-class="{ active: offscreenCategory == 'Storefront' }">
    <i class="fa fa-fw fa-home"></i>
  </div><div ng-if="narrowToggle" ui-sref="app.catalog" class="btn btn-warning margin-right-4" ng-class="{ active: offscreenCategory == 'Catalog' }">
    <i class="fa fa-fw fa-book"></i>
  </div><div ng-if="narrowToggle" ui-sref="app.orders" class="btn btn-success margin-right-4" ng-class="{ active: offscreenCategory == 'Orders' }">
    <i class="fa fa-fw fa-list"></i>
  </div><div ng-if="narrowToggle" ui-sref="app.account" class="btn btn-danger margin-right-4" ng-class="{ active: offscreenCategory == 'Account' }">
    <i class="fa fa-fw fa-gears"></i>
  </div><div class="btn btn-primary btn-toggle" ng-click="toggleOffscreen()">
    <div class="icon"></div>
  </div>
</div>

<nav ng-class="{ open: toggle }" class="position-fixed full-height white-background">
  <div id="wrap" class="width-250 light-{{ offscreenColor }}-background">

    <div class="width-250">
      <div ng-if="offscreenCategory">

        <div ng-switch on="offscreenCategory">
          <div class="pad-10 {{ offscreenColor }}-background">
            <div class="vert-15 full-width inline-block"></div>
            <div class="vert-5 full-width inline-block"></div>
            <h2 class="margin-0 white-color">
              {{ offscreenCategory }}
            </h2>
          </div>
          <ee-offscreen-storefront ng-switch-when="Storefront"></ee-offscreen-storefront>
          <ee-offscreen-catalog ng-switch-when="Catalog"></ee-offscreen-catalog>
          <ee-offscreen-orders ng-switch-when="Orders"></ee-offscreen-orders>
          <ee-offscreen-account ng-switch-when="Account"></ee-offscreen-account>
        </div>

      </div>

      <ee-offscreen-default ng-if="!offscreenCategory"></ee-offscreen-default>

    </div> <!-- /ng-switch on=offscreen -->

    <div id="push"></div>
  </div> <!-- /wrap -->


  <div id="footer-region">
    <div class="container">
      <div>
        <a ui-sref="landing">home</a>&nbsp;&nbsp;
        <a href="mailto:team@eeosk.com" target="_blank">contact</a>
      </div>
      <div class="text-muted">&copy; eeosk 2014</div>
    </div>
  </div>

</nav>
