<div class="open-nav {{ offscreenColor }}-background width-250"
     ng-class="{ open: toggle, narrow: narrowToggle }">
  <div ng-class="{ 'pull-right': narrowToggle }">
    <span dropdown>
      <div ng-if="narrowToggle" class="btn btn-transparent btn-toggle {{ offscreenColor }}-backgrounds" dropdown-toggle>
        <div class="fa fa-chevron-down"></div>
      </div>
      <ul class="dropdown-menu" style="left: 7px; right: 8px; top: 45px;">
        <li class="divider"></li>
        <li><a ui-sref="app.orders"><h4 class="vert-2"><i class="fa fa-fw fa-list"></i>&nbsp;&nbsp;Orders</h4></a></li>
        <li><a ui-sref="app.account"><h4 class="vert-2"><i class="fa fa-fw fa-globe"></i>&nbsp;&nbsp;Store Locations</h4></a></li>
        <li class="divider"></li>
        <li><a ui-sref="app.account"><h4 class="vert-2"><i class="fa fa-fw fa-gear"></i>&nbsp;&nbsp;Account Settings</h4></a></li>
        <li><a ui-sref="app.account"><h4 class="vert-2"><i class="fa fa-fw fa-money"></i>&nbsp;&nbsp;Payment Settings</h4></a></li>
        <li><a ui-sref="app.account"><h4 class="vert-2"><i class="fa fa-fw fa-bell-o"></i>&nbsp;&nbsp;Notifications</h4></a></li>
        <li class="divider"></li>
        <li><a ui-sref="logout"><h4 class="vert-2"><i class="fa fa-fw fa-sign-out"></i>&nbsp;&nbsp;Logout</h4></a></li>
      </ul>
    </span>
    <div ng-class="narrowToggle ? 'btn-transparent' : 'btn-primary'" class="btn btn-toggle {{ offscreenColor }}-background" ng-click="toggleOffscreen()">
      <div class="icon"></div>
    </div>
  </div>
  <div ng-if="narrowToggle" ui-sref="app.storefront.home" class="btn btn-primary margin-right-4" ng-class="{ active: offscreenCategory == 'Storefront' }">
    <i class="fa fa-lg fa-fw fa-home"></i>
  </div><div ng-if="narrowToggle" ui-sref="app.catalog" class="btn btn-warning margin-right-4" ng-class="{ active: offscreenCategory == 'Catalog' }">
    <i class="fa fa-lg fa-fw fa-book"></i>
  </div><!-- <div ng-if="narrowToggle" ui-sref="app.orders" class="btn btn-success margin-right-4" ng-class="{ active: offscreenCategory == 'Orders' }">
    <i class="fa fa-fw fa-list"></i>
  </div><div ng-if="narrowToggle" ui-sref="app.account" class="btn btn-danger margin-right-4" ng-class="{ active: offscreenCategory == 'Account' }">
    <i class="fa fa-fw fa-gears"></i>
  </div> -->
</div>

<nav ng-class="{ open: toggle }" class="position-fixed full-height light-{{ offscreenColor }}-background" style="overflow-x: hidden;">
  <div class="position-relative full-height">
    <div id="wrap" class="width-250">

      <div id="main-region">
        <div class="width-250">
          <div ng-if="offscreenCategory">

            <div ng-switch on="offscreenCategory">
              <div class="pad-10 {{ offscreenColor }}-background">
                <div class="vert-20 full-width inline-block"></div>
                <div>
                  <a ng-if="offscreenCategory == 'Storefront' && !!user.username"
                     href="https://{{ user.username }}.eeosk.com"
                     target="_blank"
                     class='btn btn-default btn-sm pull-right'>
                    <i class="fa fa-globe"></i>&nbsp;&nbsp;Live
                  </a>
                  <h2 class="margin-0 white-color" ng-bind="offscreenCategory"></h2>
                </div>
              </div>
              <ee-offscreen-storefront ng-switch-when="Storefront"></ee-offscreen-storefront>
              <ee-offscreen-catalog ng-switch-when="Catalog"></ee-offscreen-catalog>
              <ee-offscreen-orders ng-switch-when="Orders"></ee-offscreen-orders>
              <ee-offscreen-account ng-switch-when="Account"></ee-offscreen-account>
            </div> <!-- /ng-switch on=offscreenCategory -->

          </div>

          <ee-offscreen-default ng-if="!offscreenCategory"></ee-offscreen-default>

        </div>
      </div>

      <div id="footer-region">
        <div class="container">
          <div>
            <a ui-sref="landing">home</a>&nbsp;&nbsp;
            <a href="mailto:team@eeosk.com" target="_blank">contact</a>
          </div>
          <div class="text-muted">&copy; eeosk 2014</div>
        </div>
      </div>

    </div> <!-- /wrap -->
  </div>


</nav>
