<div class="width-250 pad-10 blue-background">
  <a ui-sref="landing">
    <img src="../img/eeosk_250x67.png" class="img-responsive" alt="eeosk logo" />
  </a>
</div>

<div class="pad-10">
  <mark>ee·osk</mark>
  <br>
  <em class="text-muted">noun: eeosk; plural noun: eeosks</em>
  <p class="pad-5">
    An online storefront created from a catalog of thousands of products and suppliers.
  </p>
  <hr>
  eeosks are:<br>
  - simple<br>
  - free<br>
  - customizable<br>
  - embeddable
  <hr>
  <a ui-sref="signup" class="btn btn-primary btn-block">Create your eeosk</a>
  <a ui-sref="login" class="btn btn-default btn-block visible-xs">Login</a>
</div>
