<div ng-if="!product_selection" style="min-height: 80px; margin-bottom: 10px;">
  <div class="media">
    <a href class="media-left" ng-click="toggleOverlay()">
      <div class="thumb margin-2 gray-border"
           style="background-image: url('{{ product.image_meta.main_image.url | thumbnail }}')">
      </div>
      <div class="visible-xs">
        <div ng-show="!overlay" class="btn btn-sm btn-link">preview</div>
        <div ng-show="!!overlay" class="btn btn-sm btn-default">close</div>
      </div>
    </a>
    <div class="media-body">
      <h4 class="media-heading margin-0">
        <a href ng-click="toggleOverlay()" ng-bind="product.title"></a>
      </h4>
      <!-- TODO implement ratings -->
<!--       <i class="fa fa-star gold-color"></i>
<i class="fa fa-star gold-color"></i>
<i class="fa fa-star gold-color"></i>
<i class="fa fa-star gold-color"></i>
<i class="fa fa-star-half-o gold-color"></i>
<small>(28)</small> -->
<!--       <small><span class="hidden-xs">Loc:&nbsp;</span>United States</small> -->
      <!-- <br> -->
      <ee-product-margin-setter product="product" disabled="added"></ee-product-margin-setter>
      <div ng-hide="added" class="btn btn-sm btn-success" ng-click="select()">
        <i class="fa fa-plus"></i>&nbsp;Add to store
      </div>
      <span ng-show="added">
        <div ui-sref="app.storefront.home" class="btn btn-sm btn-primary">
          <i class="fa fa-home"></i>&nbsp;See in store
        </div>&nbsp;<div class="btn btn-sm btn-default" ng-click="deselect()">
          Remove
        </div>
      </span>
      &nbsp;
      <span class="hidden-xs" ng-click="toggleOverlay()">
        <div ng-show="!overlay" class="btn btn-sm btn-link">preview</div>
        <div ng-show="!!overlay" class="btn btn-sm btn-default">close preview</div>
      </span>
    </div>
  </div>

  <div ng-show="!!overlay" class="pad-10">
    <ee-product-detail product="product"></ee-product-detail>
  </div>


  <hr class="visible-xs">
</div>
