<div class="nav-wrapper white-background pad-10 position-absolute top-left-bottom-right-0"
      style="z-index: 5;"
      ng-if="!!product && product != {}">

  <div class="btn btn-default btn-sm"
       style="position: fixed; top: 8px; right: 16px; z-index: 6"
       ng-click="close()">
    close
  </div>

  <div ng-if="product.selling_price" class="row margin-0">
    <div class="col col-xs-9 col-sm-6 col-md-offset-1 col-lg-offset-2 col-lg-5">
      <div class="btn btn-default btn-block">{{ product.selling_price | centToDollar }}</div>
    </div>
    <div class="col col-xs-3 col-sm-2">
      <div class="btn btn-danger" ng-click="removeProductFromStore()">Remove from store</div>
    </div>
  </div>

  <div class="row margin-0">
    <div class="col col-xs-9 col-sm-6 col-md-offset-1 col-lg-offset-2 col-lg-5">
      <img ng-src="{{ focusImg.url | mainImg }}" class="img-responsive full-width">
      <h2 class="vert-5" ng-bind="product.title"></h2>
      <div ng-bind="product.category" class="label label-primary"></div>
      <p ng-bind="product.content"></p>
    </div>
    <div class="col col-xs-3 col-sm-2">
      <img ng-src="{{ product.image_meta.main_image.url | thumbnail }}"
           class="hover-pointer full-width vert-2 margin-top-0"
           ng-click="setFocusImg(product.image_meta.main_image)" />
      <div ng-repeat="img in product.image_meta.additional_images">
        <img ng-src="{{ img.url | thumbnail }}"
             class="hover-pointer full-width vert-2"
             ng-click="setFocusImg(img)" />
      </div>
    </div>
  </div>

</div>
