<div ng-hide="closed" class="modal fade in" style="display: block; z-index: 2011">
  <div class="modal-dialog" style="margin-top: 60px; max-width: 455px;">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="modal-title">Welcome to eeosk</h1>
        <p>how it works:</p>
        <div class="vert-5">
          <h2 class="inline-block margin-0 pad-10 btn-primary width-250 opacity-0">
            <div class="btn btn-primary pull-right">
              <i class="fa fa-fw fa-home"></i>
            </div>
            Storefront
          </h2>
          &nbsp;&nbsp;
          <h4 class="vert-2 inline-block">Edit your store</h4>
        </div>
        <div class="vert-5">
          <h2 class="inline-block margin-0 pad-10 btn-warning width-250 opacity-0">
            <div class="btn btn-warning pull-right">
              <i class="fa fa-fw fa-book"></i>
            </div>
            Catalog
          </h2>
          &nbsp;&nbsp;
          <h4 class="vert-2 inline-block">Add products</h4>
        </div>
        <div class="vert-5">
          <h2 class="inline-block margin-0 pad-10 btn-success width-250 opacity-0">
            <div class="btn btn-success pull-right">
              <i class="fa fa-fw fa-list"></i>
            </div>
            Orders
          </h2>
          &nbsp;&nbsp;
          <h4 class="vert-2 inline-block">See your orders</h4>
        </div>
        <div class="vert-5">
          <h2 class="inline-block margin-0 pad-10 btn-danger width-250 opacity-0">
            <div class="btn btn-danger pull-right">
              <i class="fa fa-fw fa-gears"></i>
            </div>
            Account
          </h2>
          &nbsp;&nbsp;
          <h4 class="vert-2 inline-block">Edit your account</h4>
        </div>
      </div>
      <div class="modal-footer text-left">
        <div ng-click="closed = true" class="btn btn-default">Get started!</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div ng-hide="closed" class="position-fixed top-left-bottom-right-0" style="background: rgba(255,255,255,0.4); z-index: 2010;"></div>
