<div class="position-fixed top-left-bottom-right-0" style="background: rgba(255,255,255,0.4); z-index: 1000;"></div>

<!-- <div class="position-absolute" style="z-index: 1001"> -->

  <div class="position-absolute white-background" style="top: 20px; left: 60px; right: 20px; z-index: 1001">
    <h1>Welcome to eeosk</h1>
    <hr class="vert-10">
    <h3 class="position-relative vert-20">
      use the left panel to edit & manage your store
      <i class="fa fa-fw fa-hand-o-left position-absolute" style="top: 0; left: -50px;"></i>
    </h3>
    <div class="vert-5">
      <h2 class="inline-block margin-0 pad-10 btn-primary width-250 opacity-0">
        <div class="btn btn-primary pull-right">
          <i class="fa fa-fw fa-home"></i>
        </div>
        Storefront
      </h2>
      <h4 class="inline-block margin-left-10">Edit appearance & text</h4>
    </div>
    <div class="vert-5">
      <h2 class="inline-block margin-0 pad-10 btn-warning width-250 opacity-0">
        <div class="btn btn-warning pull-right">
          <i class="fa fa-fw fa-book"></i>
        </div>
        Catalog
      </h2>
      <h4 class="inline-block margin-left-10">Add products</h4>
    </div>
    <div class="vert-5">
      <h2 class="inline-block margin-0 pad-10 btn-success width-250 opacity-0">
        <div class="btn btn-success pull-right">
          <i class="fa fa-fw fa-list"></i>
        </div>
        Orders
      </h2>
      <h4 class="inline-block margin-left-10">See your orders</h4>
    </div>
    <div class="vert-5">
      <h2 class="inline-block margin-0 pad-10 btn-danger width-250 opacity-0">
        <div class="btn btn-danger pull-right">
          <i class="fa fa-fw fa-gears"></i>
        </div>
        Account
      </h2>
      <h4 class="inline-block margin-left-10">Manage your account</h4>
    </div>

    <div class="vert-20"></div>
    <hr>
    <h3 class="vert-5">Got it?&nbsp;Get started</h3>
    <a ui-sref="app.storefront.home" class="btn btn-lg btn-primary">
      <i class="fa fa-fw fa-home"></i>
    </a>
    &nbsp;&nbsp;<h4 class="inline-block">Edit my storefront</h4>

    <div class="vert-20"></div>
  </div>

<!-- </div> -->
