<!--header-->
<nav class="full-width text-center pad-10 e-brand">
  <a ui-sref="catalog({id: ''})" class="no-underline">
    <img src="img/eeosk_250x67.png" style="height: 40px; width: auto;">
    <span>beta</span>
  </a>
</nav>

<div class="container vert-20" role="main" ng-hide="signupCreated">


  <h2 class="vert-10">
    Sellers, meet suppliers.<br>Suppliers, meet sellers.
  </h2>

  <p class="alert alert-info">
    We're connecting <strong>online sellers</strong> with <strong>suppliers and dropshippers</strong>.
  </p>
  <p>
    If you'd like to be a part of the network, enter your details below and we'll let you know when it's ready.
  </p>

  <hr>

  <form ng-submit="submitForm()" ng-disabled=true>
    <div class="form-group">
      <label>Email address</label>
      <input ng-model="signup.email" type="email" class="form-control" placeholder="Enter email" required>
    </div>
    <div class="radio">
      <label>
        <input ng-model="signup.role" type="radio" name="seller" value="seller">
        I'm a seller
      </label>
    </div>
    <div class="radio">
      <label>
        <input ng-model="signup.role" type="radio" name="supplier" value="supplier">
        I'm a supplier or dropshipper
      </label>
    </div>
    <div ng-show="showMore">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Contact Name</label> <small>(optional)</small>
            <input ng-model="signup.contactName" type="text" class="form-control" placeholder="Contact name">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Business Name</label> <small>(optional)</small>
            <input ng-model="signup.businessName" type="text" class="form-control" placeholder="Business name">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Website</label> <small>(optional)</small>
        <input ng-model="signup.website" type="text" class="form-control" placeholder="http://">
      </div>
      <label>Briefly describe what you do</label> <small>(optional)</small>
      <textarea ng-model="signup.description" class="form-control" rows="3" ng-maxlength="1000"></textarea>
      <br>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="buttonDisabled">Submit</button>
    <div class="btn btn-default" ng-click="showMore = !showMore">Add more info (optional)</div>
  </form>

</div>

<div class="container vert-20" ng-show="signupCreated">
  <div class="alert alert-success">Success</div>
  <h4>
    Thanks for submitting, we'll let you know when the network opens up!
  </h4>
  <a ui-sref="catalog({id: ''})">home</a>
</div>
