<div class="pad-10">
  <div class="alert alert-info alert-dismissible" ng-hide="hideCatalogAlert">
    <button type="button" class="close" ng-click="hideCatalogAlert = !hideCatalogAlert">&times;</button>
    Use the catalog to find products for your store
  </div>

  <div class="input-group">
    <input type="text" ng-model="search" class="form-control" placeholder="Search the catalog">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-fw fa-search"></i></button>
    </span>
  </div>

  <hr>

  <h5 class="vert-2">Catalog Categories</h5>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Apparel</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Accessories</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Home Decor</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Health & Beauty</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Electronics</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">General Merchandise</div>
  </div>

  <br>

  <h5 class="vert-2">Price</h5>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Under $25</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">$25 to $50</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">$50 to $100</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">$100 to $200</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">$200 and above</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon">min $</span>
    <input type="text" class="form-control" placeholder="0">
    <span class="input-group-addon" style="border-right: none;">max $</span>
    <input type="text" class="form-control" placeholder="0">
  </div>

  <br>

  <h5 class="vert-2">Rating</h5>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="radio" name="rating" ng-model="ratingRadio"></span>
    <div class="btn btn-default btn-sm btn-block">
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      & Up
    </div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="radio" name="rating" ng-model="ratingRadio"></span>
    <div class="btn btn-default btn-sm btn-block">
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      & Up
    </div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="radio" name="rating" ng-model="ratingRadio"></span>
    <div class="btn btn-default btn-sm btn-block">
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      & Up
    </div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="radio" name="rating" ng-model="ratingRadio"></span>
    <div class="btn btn-default btn-sm btn-block">
      <i class="fa fa-star gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      <i class="fa fa-star-o gold-color"></i>
      & Up
    </div>
  </div>

  <br>

  <h5 class="vert-2">Location</h5>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">United States</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">Europe</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">China</div>
  </div>
  <div class="input-group input-group-sm vert-2">
    <span class="input-group-addon"><input type="checkbox"></span>
    <div class="btn btn-default btn-sm btn-block">North America</div>
  </div>

</div>
