<div class="full-width position-relative"
    style="height: 550px;
           background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/eeosk/image/upload/c_scale,w_800/v1432940980/apple-iphone-books-desk_zgh3wv.jpg') no-repeat center; background-size: cover;">
  <div class="position-absolute" style="top: 120px; left: 120px;">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h2 class="inline-block white-color margin-0" style="text-shadow: 0 4px 8px rgba(0,0,0,.5); font-size: 50px; vertical-align: middle;">is</h2>
  </div>
  <div class="position-absolute" style="top: 200px; left: 150px; right: 150px;">
    <div class="well text-center" style="background: rgba(0,0,0,.5); border: 4px solid gray;">
      <h1 class="vert-50 white-color" style="text-shadow: 0 4px 8px rgba(0,0,0,.5); font-size: 70px;">
        beautiful & customizable
      </h1>
    </div>
    <div ng-click="is.previous()" class="btn btn-sm btn-default">previous</div>
    <div ng-click="is.next()" class="btn btn-sm btn-default">next</div>
  </div>
</div>

<div>
  <div class="full-width inline-block bg-info text-center">
    <div class="vert-100 margin-bottom-0">
      <div class="pad-50">
        Responsive design
      </div>
      <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_1200/v1432949073/responsive_screens_rv9b2u.png" style="max-width: 80%">
    </div>
  </div>
  <div>
    Choose your theme
    <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_400/v1432949868/themes.png">
  </div>
  <div>
    Edit color scheme
    <img src="https://res.cloudinary.com/eeosk/image/upload/v1432950181/color_picker.png">
  </div>
  <div>4. Add images</div>
  <div>5. Add about section</div>
</div>
