<div class="full-width position-relative"
    style="height: 550px;
           background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://embed-cdn.gettyimages.com/gc/183099268-businesswoman-sitting-on-counter-tjecking-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=NARAFBbIOy1EUC%2fsInt%2frwWgtiobjdxnryTg41uM37s%3d&Expires=1432947600&Key-Pair-Id=APKAJZZHJ4LGWQENK3OQ&Signature=gIOmoR39kpd4njbIC~wrpcN~POdyFGmzRlP6KKVviGBRQMu-4yh-DLVYWA9wa79UZ6dUK66R6ZkyimkHYITxw0oPyHFvy-inkpUEewuHC0lKqBPMeUoREpczAuz3j6Cqn9CsiV9603-ha-BbFOQwcnomM7N2LQzCCBDfG1ggtXiAbk8dr3ECZ9L-ko0quRWfFXRprc2vPzw57vYeDIHBjmawnPw66CisYAhDyJL3-ldf2yiEnLqOZ~64QOt1ocmaU8ZE2c8kUsHO6ZvkyHjmdrV37TXAUPlbMgDv4W8BviKgJMaiY-3eazKEvy9LXox0uBL~F67v55~-~YJIh7wPpg__') no-repeat center; background-size: cover;">
  <div class="position-absolute" style="top: 120px; left: 120px;">
    <img class="margin-2" src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_150/v1432656685/eeosk_white.png">
    &nbsp;&nbsp;
    <h1 class="inline-block white-color margin-0" style="text-shadow: 0 4px 8px rgba(0,0,0,.5); font-size: 50px; vertical-align: middle;">is</h1>
  </div>
  <div class="position-absolute" style="top: 200px; left: 150px; right: 150px;">
    <div class="well text-center" style="background: rgba(0,0,0,.5); border: 4px solid gray;">
      <h2 class="vert-50 white-color" style="text-shadow: 0 4px 8px rgba(0,0,0,.5); font-size: 70px;">
        easy to use
      </h2>
    </div>
  </div>
</div>

<div ng-click="is.previous()" class="btn btn-sm btn-default">previous</div>
<div ng-click="is.next()" class="btn btn-sm btn-default">next</div>
easy-to-use

<div>
  <div>1. We handle inventory</div>
  <div>2. Nothing to install</div>
  <div>3. It just works</div>
  <div>4. Simple to add products</div>
  <div>5. Simple to integrate</div>
</div>
