<div class="container-fluid max-width-900 vert-20" ng-hide="brand.data.reading">
  <div class="row text-center">
    <ee-guide-button
      ng-repeat="activity in brand.data.track.guides"
      track="brand.data.track"
      activity="activity"
      ng-if="activity.show">
    </ee-guide-button>
  </div>

  <div class="row pad-5">
    <uib-accordion class="track-accordion">
      <ee-builder-activity
        ng-repeat="activity in brand.data.track.activities"
        track="brand.data.track"
        activity="activity"
        completed-steps="brand.ee.User.user.completed_steps">
      </ee-builder-activity>
    </uib-accordion>
  </div>
</div>

<ee-loading loading="brand.data.reading"></ee-loading>
