<!-- Top supranav -->
<div class="container supranav transition-200 margin-bottom-0"
  ng-if="showSupranav && (meta.blog.url || meta.audience.social.facebook || meta.audience.social.pinterest || meta.audience.social.twitter || meta.audience.social.instagram)">
  <div class="position-relative vert-5 text-right">
    <!-- social -->
    <a ng-repeat="site in ['facebook', 'pinterest', 'twitter', 'instagram']"
      ng-if="meta.audience.social[site]"
      href="http://{{ site }}.com/{{ meta.audience.social[site] }}"
      target="_blank"
      class="no-underline">
      <i class="fa fa-fw fa-lg fa-{{ site }} text-{{ site }}"></i>
    </a>
    <!-- /social -->
    <!-- blog -->
    <a ng-if="meta.blog.url" href="{{ meta.blog.url | addHttp }}" target="_blank" class="text-muted" style="margin: 0 8px 0 3px;">blog</a>
    <!-- /blog -->
    <!-- help -->
    <!-- <a href class="text-muted"></i>help</a> -->
    <!-- /help -->
  </div>
</div>
<!-- /Top supranav -->

<!-- Main nav -->
<div class="position-relative" style="z-index: 5;">
  <!-- blocker -->
  <div ng-show="blocked" class="navbar position-absolute" style="z-index: 2005; top: 0; left: 0; right: 0; height: 77px;"></div>
  <!-- /blocker -->

  <nav id="navtop"
       class="navbar store-navbar navbar-default white-background border-none margin-0 pad-0 round-0"
       ng-hide="loading">

    <div ng-class="fluid ? 'container-fluid' : 'container'" name="store-navbar">

      <div class="row position-relative margin-bottom-0">

        <div class="brand-area position-absolute" style="backgroundz: red; top: 0; left: 0; width: 274px; height: 74px; padding: 7px;">
          <!-- Logo -->
          <div ui-sref="storefront"
             class="store-title inline-block hover-pointer font-weight-200 margin-0">
            <ee-storefront-logo meta="meta" sref="storefront"></ee-storefront-logo>
            <div ng-if="meta.home.name" class="title-text inline-block" ng-bind="meta.home.name"></div>
          </div>
          <!-- /Logo -->
        </div>
        <div class="activity-area position-absolute" style="backgroundz: blue; top: 0; left: 274px; right: 0; height: 74px; padding: 7px 7px 0 0;">
          <div>
            <!-- Search -->
            <form class="form-group input-group margin-0" ng-submit="search()">
              <input type="text" class="form-control full-width-important" placeholder="Search for products" ng-model="query" style="box-shadow: none; padding: 18px 20px;">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" style="padding: 8px 20px;">Search&nbsp;&nbsp;<i class="fa fa-caret-right"></i></button>
              </span>
            </form>
            <!-- /Search -->
          </div>
          <div class="full-width text-right pad-5" style="padding-bottom: 0;">
            <i class="fa fa-lg fa-fw fa-pinterest text-pinterest"></i>
            <span>&nbsp;blog&nbsp;</span>
            <i class="fa fa-2x fa-fw fa-shopping-cart vertical-align-top"></i> cart
          </div>
        </div>

      </div>

    </div>
  </nav>
</div>
<!-- /Main nav -->

<!-- Categories subnav -->
<div class="position-relative" ng-ifz="showSubnav">
  <nav class="navbar navbar-default margin-0 round-0 no-side-border"
    ng-style="{ 'background-color': meta.home.topBarBackgroundColor }">
    <div class="container">
      <ul class="nav navbar-nav">
        <li ng-repeat="category in [{ id: 1, title: 'Home Accents'}, { id: 2, title: 'Artwork' }]">
          <a ui-sref="category({ id: category.id, title: (category.title | urlText) })"
            class="pad-left-0"
            ng-bind="category.title"
            ng-style="{ color: meta.home.topBarColor }">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- /Categories subnav -->
