<div>
  <div ng-repeat="row in rows" style="min-width: 354px;" class="transition-200"
    ng-style="{ 'margin-left': compress ? '0' : '' + row.offset*27 +'px', height: compress ? '0' : '24px' }">
    <div ng-repeat="color in row.colors" ng-click="selectColor(color)"
      class="inline-block position-relative hover-pointer transition-200"
      style="border-radius: 50%;"
      ng-style="{ 'box-shadow': color == dabModel ? '0 0 0 2px hsl(0, 0%, 100%),0 0 0 4px hsl(0, 0%, 15%)' : 'none', 'z-index': color == dabModel ? 3 : 2, 'background-color': color, 'margin-left': compress ? '-27px' : '0', height: compress && color == dabModel ? '40px' : '27px', width: compress && color == dabModel ? '40px' : '27px' }">
    </div>
  </div>
  <br>
</div>
