<div class="modal-header">
  <h3 class="modal-title">Save & continue</h3>
</div>
<div class="modal-body">
  <form class="vert-20">
    <div class="alert alert-info" ng-show='alert'>{{ alert }}</div>
    <div>Sign up to save your progress and access even more options.</div>
    <input type="email"
           ng-model="email"
           placeholder="Email address"
           class="form-control input-lg vert-5"
           required
           autofocus>
    <input type="password"
           ng-model="password"
           placeholder="Password"
           class="form-control input-lg vert-5"
           required>
    <input type="text"
           ng-model="username"
           placeholder="Store name"
           class="form-control input-lg vert-5"
           required>
    <div ng-show="username && username.length > 4">
      Your store will be available at
      <h4 class='vert-2'><small><i class="fa fa-fw fa-globe"></i>http://</small>{{ username }}<small>.eeosk.com</small></h4>
      <hr class="vert-5">
    </div>
    <div class="vert-5 text-muted">By creating a store, you agree to the&nbsp;<a ng-click="showTerms = true" name="termsLink" class="hover-pointer">terms & conditions</a></div>
  </form>
  <div ng-show="showTerms">
    <hr>
    <ee-terms-seller></ee-terms-seller>
    <a ng-click="scrollToTop()" href class="btn btn-primary">Back to top</a>
    <a ui-sref="privacy" class="btn btn-default">Privacy policy</a>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-link" ng-click="close()">cancel</button>
  <button class="btn btn-primary" ng-click="signup()">Sign up</button>
</div>
