<!-- preview -->
<!-- <div ng-click="edit.showPreview = false"
    class="position-fixed transition-400"
    style="left: 0; right: 0; z-index: 3000"
    ng-style="{ top: edit.showPreview ? '0px' : '-250px' }">
  <ee-storefront-header
    blocked="true"
    meta="edit.ee.User.user.storefront_meta"
    ng-hide="edit.ee.loading">
  </ee-storefront-header>
  <div class="inline-block full-width text-center border-bottom-gray white-background pad-10 pad-top-0">
    <i class="fa fa-fw fa-caret-up"></i>
    <small>This is a preview of your store's top bar (click to close).</small>
    <i class="fa fa-fw fa-caret-up"></i>
  </div>
  <div class="position-absolute top-left-bottom-right-0 hover-pointer text-center pad-20"
    style="z-index: 1061;">
  </div>
</div> -->
<!-- /preview -->

<div ng-hide="edit.ee.User.reading" class="container vert-20">
  <!-- <div class="full-width transition-400" ng-style="{ height: edit.showPreview ? '50px' : '0px' }"></div> -->
  <!-- <ee-builder-section-heading heading="Edit your store design" heading-class="text-success" subheading="Design your store's logo, style, and colors below."></ee-builder-section-heading> -->

  <div class="well white-background box-shadow">
    <ee-canvas canvas-type="'logo'" canvas-width=280 canvas-height=80></ee-canvas>
  </div>

  <div class="well white-background box-shadow">
    <div class="row">
      <div class="col col-sm-6">
        <!-- Logo -->
        <div style="width: 280px; height: 80px; overflow: hidden" class="gray-border">
          <ee-storefront-logo
            ng-if="edit.ee.User.user"
            class="pad-10 vert-5 margin-top-0"
            blocked="true"
            meta="edit.ee.User.user.storefront_meta">
          </ee-storefront-logo>
        </div>
        <!-- /Logo -->
      </div>
      <div class="col col-sm-6">
        <h2 class="text-success font-weight-200 vert-5 margin-top-0 hidden-xs">Edit your store design</h2>
        <p>Design your store's logo, style, and colors below.</p>
        <ee-save></ee-save>
      </div>
    </div>
  </div>

  <div class="well white-background box-shadow">
    <!-- <div class="row vert-5">
      <div class="col-sm-6">
        <div class="full-width margin-0-auto text-left" style="max-width: 320px;">
          <div class="btn btn-info" ng-click="edit.showPreview = !edit.showPreview" ng-class="{ active: edit.showPreview }">
            Preview your design
          </div>
        </div>
      </div>
    </div> -->

    <div class="row margin-top-0" ng-click="edit.showPreview = true">
      <!-- title -->
      <div class="col-sm-6 text-center">
        <div class="full-width margin-0-auto text-left" style="max-width: 320px;">
          <div class="vert-10 margin-top-0">
            &nbsp;Store name
            <input type="text" class="form-control input-lg" ng-model="edit.ee.User.user.storefront_meta.name" class="Store Name">
          </div>

          <div class="vert-5 margin-bottom-0">
            &nbsp;Brand colors
            <div class="margin-0-auto" style="width: 354px;">
              <ee-web-colorpicker
                dab-primary="edit.ee.User.user.storefront_meta.brand.color.primary"
                dab-secondary="edit.ee.User.user.storefront_meta.brand.color.secondary"
                dab-tertiary="edit.ee.User.user.storefront_meta.brand.color.tertiary"
                dab-dimension="22">
              </ee-web-colorpicker>
            </div>
          </div>

          <div>
            Logo background image
            <div class="text-muted vert-5 margin-top-0">(Image scaled to fit 260x60px)</div>
            <div ng-if="edit.ee.User.user.storefront_meta.brand.image.logo">
              <img ng-src="{{ edit.ee.User.user.storefront_meta.brand.image.logo }}" class="vert-2"/>
              <div class="btn btn-link pad-left-0 vert-2" ng-click="edit.ee.User.user.storefront_meta.brand.image.logo = null">Remove image</div>
              <br>
              <label class="font-weight-200">
                <input type="checkbox" ng-model="edit.ee.User.user.storefront_meta.brand.image.round" />
                Round image in logo
              </label>
            </div>
            <ee-cloudinary-upload meta="edit.ee.User.user.storefront_meta" attr-target="'logo'"></ee-cloudinary-upload>
            <br>
            <div ng-if="edit.ee.User.user.storefront_meta.brand.image.logo">
              &nbsp;Move & size your logo background image
              <form class="full-width inline-block vertical-align-top">
                <div class="row">
                  <div class="col-xs-6">
                    <i class="fa fa-fw fa-image"></i><i class="fa fa-fw fa-arrows-h"></i> (<span ng-bind="edit.ee.User.user.storefront_meta.brand.image.x"></span>)
                    <input type="range" ng-model="edit.ee.User.user.storefront_meta.brand.image.x" min=0 max=200 step=1>
                  </div>
                  <div class="col-xs-6">
                    <i class="fa fa-fw fa-image"></i><i class="fa fa-fw fa-arrows-v"></i> (<span ng-bind="edit.ee.User.user.storefront_meta.brand.image.y"></span>)
                    <input type="range" ng-model="edit.ee.User.user.storefront_meta.brand.image.y" min=0 max=36 step=1>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /title -->
      <!-- logo font -->
      <div class="col-sm-6 text-center">
        <div class="full-width margin-0-auto text-left" style="max-width: 320px;">
          &nbsp;Move, size, & style your logo text
          <div class="row vert-5">
            <div class="col-xs-6">
              <i class="fa fa-fw fa-font"></i><i class="fa fa-fw fa-arrows-h"></i> (<span ng-bind="edit.ee.User.user.storefront_meta.brand.text.x"></span>)
              <input type="range" ng-model="edit.ee.User.user.storefront_meta.brand.text.x" min=0 max=100 step=1>
            </div>
            <div class="col-xs-6">
              <i class="fa fa-fw fa-font"></i><i class="fa fa-fw fa-arrows-v"></i> (<span ng-bind="edit.ee.User.user.storefront_meta.brand.text.y"></span>)
              <input type="range" ng-model="edit.ee.User.user.storefront_meta.brand.text.y" min=0 max=36 step=1>
            </div>
            <div class="col-xs-12">
              <i class="fa fa-font" style="vertical-align: bottom;"></i><i class="fa fa-lg fa-font" style="vertical-align: bottom;"></i> (<span ng-bind=" edit.ee.User.user.storefront_meta.brand.text.size"></span>)</small>
              <input type="range" ng-model="edit.ee.User.user.storefront_meta.brand.text.size" min=20 max=50 step=1>
            </div>
          </div>
          <div class="vert-10">
            <div class="inline-block vertical-align-top gray-border vert-10 margin-top-0" style="height: 360px; overflow-y: scroll;">
              <div ng-repeat="font in edit.fonts" class="pad-5 gray-border">
                <label class="hover-pointer">
                  <input type="radio" ng-model="edit.ee.User.user.storefront_meta.brand.text.family" value="{{ font.name }}" style="width: 25px;">
                  <img ng-src="https://res.cloudinary.com/eeosk/image/upload/w_260,h_30,o_0/g_west,w_260,h_30,c_fit,l_text:{{ font.name }}_25:Brand Name Text,co_rgb:4C4C4C/v1450113176/260x60.png" alt="{{ font.name }}">
                  <br>
                  <small style="margin-left: 28px;" ng-bind="font.name"></small>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /logo font -->
    </div>
  </div>
</div>

<ee-loading loading="edit.ee.User.reading"></ee-loading>
