<!-- Message -->
<ee-builder-section-heading heading="Edit your about section" heading-class="text-success" subheading="Your About section will show automatically. A preview is shown below."></ee-builder-section-heading>
<!-- Message -->

<div class="hidden" ng-init="images = ['https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425249778/book_.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425249925/brick.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250980/brdge.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250064/city_.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250130/cffee.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250164/cncrt.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_south,h_400,w_1200/v1425250332/dsert.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_center,h_400,w_1200/v1425250403/desk1.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250486/desk2.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250531/drops.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_north,h_400,w_1200/v1427406804/ferns.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_center,h_400,w_1200/v1425250595/fish_.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_center,h_400,w_1200/v1425250656/gldnl.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425250720/oroad.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425251056/orngs.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425251082/prplf.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_north,h_400,w_1200/v1425251100/raspb.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,g_north,h_400,w_1200/v1425251183/spdcr.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425251208/tmsqr.jpg',
  'https://res.cloudinary.com/eeosk/image/upload/c_fill,h_400,w_1200/v1425251226/wslbt.jpg']">
</div>

<!-- Edit about -->
<div class="container" ng-hide="edit.ee.reading">
  <div class="well white-background max-width-900 box-shadow margin-0-auto text-left">
    <div class="form-horizontal">
      <div class="form-group vert-5">
        <label class="col-sm-3 control-label">About headline</label>
        <div class="col-sm-6">
          <textarea class="form-control max-width-100-pct" rows="1" ng-model="edit.ee.User.user.storefront_meta.about.headline"></textarea>
        </div>
      </div>
      <div class="form-group vert-5">
        <label class="col-sm-3 control-label">About content</label>
        <div class="col-sm-6">
          <textarea class="form-control max-width-100-pct"
            rows="9"
            ng-model="edit.ee.User.user.storefront_meta.about.content"
            placeholder="Tell the world about your store">
          </textarea>
        </div>
      </div>
      <div class="form-group vert-2">
        <label class="col-sm-3 control-label">
          About image
        </label>
        <div class="col-sm-4">
          <div class="position-relative" uib-dropdown>
            <div class="hover-pointer position-relative" uib-dropdown-toggle>
              <div class="btn btn-sm btn-default margin-5 position-absolute"
                   name="aboutImageToggle">
                <div class="fa fa-fw fa-chevron-down"></div>
              </div>
              <img ng-src="{{ edit.ee.User.user.storefront_meta.about.imgUrl }}" class="img-responsive full-width vert-2">
            </div>
            <ul class="dropdown-menu" style="left: -2px; right: -2px; margin-bottom: 20px;" uib-dropdown-menu>
              <img ng-repeat="image in images" ng-src="{{ image }}" class="full-width hover-pointer pad-2" ng-click="edit.ee.User.user.storefront_meta.about.imgUrl = image"/>
            </ul>
          </div>
          <div class="vert-5 text-left">
            <a href="https://unsplash.com/grid" target="_blank" class="pull-right">
              <small>Free images <i class="fa fa-fw fa-external-link"></i></small>
            </a>
            <h5 class="margin-0">Upload an image&nbsp;<small>1200x400px</small></h5>
            <ee-cloudinary-upload meta="edit.ee.User.user.storefront_meta" attr-target="'about'"></ee-cloudinary-upload>
          </div>
          <ee-save class="inline-block vert-5"></ee-save>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- /Edit about -->

<!-- style for preview -->
<style ng-if="edit.ee.User.user.storefront_meta">
  .navbar.ee-store-subnav { background-color: {{ edit.ee.User.user.storefront_meta.brand.color.secondary }}; }
  .navbar.ee-store-subnav .nav > li > a {
    color: {{ edit.ee.User.user.storefront_meta.brand.color.tertiary }};
    border-bottom: 5px solid {{ edit.ee.User.user.storefront_meta.brand.color.tertiary }};
  }
</style>
<!-- /style for preview -->

<!-- Preview -->
<div ng-hide="edit.ee.reading" class="text-left vert-50 gray-border"
  ng-if="edit.ee.User.user.storefront_meta.about.headline || edit.ee.User.user.storefront_meta.about.content"
  ng-init="storefront = edit">

  <ee-storefront-header
    user="edit.ee.User.user"
    fluid="true"
    blocked="true"
    ng-hide="edit.ee.reading"
    style="left:0; right:0; top: 0; z-index: 2; cursor: not-allowed;">
  </ee-storefront-header>

  <div ng-include="'ee-shared/storefront/storefront.about.html'"></div>

</div>
<!-- /Preview -->

<ee-loading loading="edit.ee.reading"></ee-loading>
