<div class="container vert-20" ng-init="imgText= 'Stylish Rustic';imgRGB = 'AC0000'; imgTextSize = 35; imgTextX = 0; imgTextY = 0;">
  <div class="full-width vert-10">
    <img ng-if="imgText" ng-src="https://res.cloudinary.com/eeosk/image/upload/w_260,h_60,o_0/g_north_west,x_{{ imgTextX }},y_{{ imgTextY }},w_260,h_60,c_fit,l_text:{{ edit.imgTextFamily }}_{{ imgTextSize }}_right:{{ imgText }},co_rgb:{{ imgRGB }}/v1448047783/storefront_home/ytmfvbcstlhcbb0a9q6b.jpg">
  </div>
  <form class="max-width-300 inline-block vertical-align-top">
    <input type="text" class="form-control" ng-model="imgText">
    <input type="text" class="form-control" ng-model="imgRGB">
    <input type="number" class="form-control" ng-model="imgTextSize">
    <hr>
    X
    <input type="number" class="form-control" ng-model="imgTextX">
    Y
    <input type="number" class="form-control" ng-model="imgTextY">
  </form>

  <div class="inline-block vertical-align-top gray-border" class="pad-10" style="height: 300px; overflow-y: scroll;">
    <div ng-repeat="font in edit.fonts" class="pad-5 gray-border">
      <label class="hover-pointer">
        &nbsp;<input type="radio" ng-model="edit.imgTextFamily" value="{{ font.name }}">&nbsp;
        <img ng-src="https://res.cloudinary.com/eeosk/image/upload/w_260,h_30,o_0/g_west,w_260,h_30,c_fit,l_text:{{ font.name }}_25:Brand Name Text,co_rgb:444444/v1448047783/storefront_home/ytmfvbcstlhcbb0a9q6b.jpg" alt="{{ font.name }}">
        {{ font.name }}
      </label>
    </div>
  </div>
</div>
