<ee-storefront-header
  meta="edit.ee.User.user.storefront_meta"
  fluid="true"
  blocked="true"
  ng-hide="edit.ee.loading"
  ng-if="$state.current.name == 'edit.topbar'">
</ee-storefront-header>

<!-- Message -->
<ee-builder-section-heading ng-if="$state.current.name == 'edit.topbar'" heading="Edit your top bar" heading-class="text-success" subheading="A preview is shown above."></ee-builder-section-heading>
<ee-builder-section-heading ng-if="$state.current.name == 'edit.about'" heading="Edit your about section" heading-class="text-success" subheading="Your About section will show automatically. A preview is shown below."></ee-builder-section-heading>
<ee-builder-section-heading ng-if="$state.current.name == 'edit.blog'" heading="Add your blog" heading-class="text-success" subheading="Your link will show automatically at the top of your store's home page."></ee-builder-section-heading>
<ee-builder-section-heading ng-if="$state.current.name == 'edit.social'" heading="Add your social media & email" heading-class="text-success" subheading="Your accounts will show automatically at the top of your store's home page."></ee-builder-section-heading>
<ee-builder-section-heading ng-if="$state.current.name == 'edit.seo'" heading="Enhance your SEO" heading-class="text-success" subheading="Add a title and description to show in search engine results."></ee-builder-section-heading>
<!-- Message -->

<div class="container" ng-hide="edit.ee.loading">

  <div class="well white-background max-width-900 box-shadow margin-0-auto text-left">
    <div class="form-horizontal">
      <!-- TOP BAR -->
      <div ng-if="$state.current.name == 'edit.topbar'">
        <!-- EDITOR title -->
        <div class="form-group vert-5">
          <label class="col-sm-4 control-label">Store title</label>
          <div class="col-sm-3">
            <input type="text" ng-model="edit.ee.User.user.storefront_meta.name" class="form-control" placeholder="Store title">
          </div>
        </div>
        <!-- /EDITOR title -->
        <!-- EDITOR top bar colors -->
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label">Top bar colors</label>
          <div class="col-sm-2">
            <div class="position-relative inline-block">
              <div class="input-group" colorpicker colorpicker-parent="true"
                   ng-model="edit.ee.User.user.storefront_meta.brand.color.primary">
                <span class="input-group-addon white-background hover-pointer"><i class="fa fa-fw fa-paint-brush"></i></span>
                <input name="primary"
                  ng-model="edit.ee.User.user.storefront_meta.brand.color.primary"
                  class="form-control hover-pointer"
                  ng-style="{ 'background-color': edit.ee.User.user.storefront_meta.brand.color.primary, color: edit.ee.User.user.storefront_meta.brand.color.primary }">
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="position-relative inline-block">
              <div class="input-group" colorpicker colorpicker-parent="true"
                   ng-model="edit.ee.User.user.storefront_meta.brand.color.secondary">
                <span class="input-group-addon white-background hover-pointer"><i class="fa fa-fw fa-font"></i></span>
                <input name="tertiary"
                  ng-model="edit.ee.User.user.storefront_meta.brand.color.tertiary"
                  class="form-control hover-pointer"
                  ng-style="{ 'background-color': edit.ee.User.user.storefront_meta.brand.color.tertiary, color: edit.ee.User.user.storefront_meta.brand.color.tertiary }">
              </div>
            </div>
          </div>
        </div>
        <!-- /EDITOR top bar colors -->
        <!-- EDITOR top bar logo -->
        <div class="form-group vert-5">
          <label class="col-sm-4 control-label">Store logo</label>
          <div class="col-sm-6">
            <ee-storefront-logo meta="edit.ee.User.user.storefront_meta" blocked="true"></ee-storefront-logo>
            <div ng-if="edit.ee.User.user.storefront_meta.logo" class="btn btn-sm btn-link" ng-click="edit.ee.User.user.storefront_meta.logo = null">Remove logo</div>
            <div>
              <h4 class="margin-0">
                <span class="font-weight-200">Upload any square image</span>
                <br>
                <small>Logo will be resized to 60x60px</small>
              </h4>
              <ee-cloudinary-upload meta="edit.ee.User.user.storefront_meta" attr-target="'logo'"></ee-cloudinary-upload>
            </div>
            <ee-save class="inline-block vert-5"></ee-save>
          </div>
        </div>
        <!-- /EDITOR top bar logo -->

      </div>
      <!-- /TOP BAR -->

      <!-- ABOUT -->
      <div ng-if="$state.current.name == 'edit.about'">
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">About headline</label>
          <div class="col-sm-6">
            <textarea class="form-control max-width-100-pct" rows="1" ng-model="edit.ee.User.user.storefront_meta.about.headline"></textarea>
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">About content</label>
          <div class="col-sm-6">
            <!-- TODO implement bold and italic -->
            <!-- Use * and _ for <strong>*bold*</strong> and <em>_italic_</em> -->
            <!-- <br> -->
            <textarea class="form-control max-width-100-pct"
              rows="9"
              ng-model="edit.ee.User.user.storefront_meta.about.content"
              placeholder="Tell the world about your store">
            </textarea>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-3 control-label">
            About image
          </label>
          <div class="col-sm-4">
            <div class="position-relative" dropdown>
              <div class="hover-pointer position-relative" dropdown-toggle>
                <div class="btn btn-sm btn-default margin-5 position-absolute"
                     name="aboutImageToggle">
                  <div class="fa fa-fw fa-chevron-down"></div>
                </div>
                <img ng-src="{{ edit.ee.User.user.storefront_meta.about.imgUrl }}" class="img-responsive full-width vert-2">
              </div>
              <ul class="dropdown-menu" style="left: -2px; right: -2px; margin-bottom: 20px;">
                <img ng-repeat="theme in edit.landingData.demoStores" ng-src="{{ theme.imgUrl }}" class="full-width hover-pointer pad-2" ng-click="edit.setAboutImage(theme.imgUrl)"/>
              </ul>
            </div>
            <div class="vert-5 text-left">
              <a href="https://unsplash.com/grid" target="_blank" class="pull-right">
                <small>Free images <i class="fa fa-fw fa-external-link"></i></small>
              </a>
              <h5 class="margin-0">Upload an image&nbsp;<small>1200x400px</small></h5>
              <ee-cloudinary-upload meta="edit.ee.User.user.storefront_meta" attr-target="'about'"></ee-cloudinary-upload>
            </div>
            <ee-save class="inline-block vert-5"></ee-save>
          </div>
        </div>
      </div>
      <!-- /ABOUT -->

      <!-- SOCIAL -->
      <div ng-if="$state.current.name == 'edit.social'">
        <!-- EDITOR top bar social -->
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label"><i class="fa fa-fw fa-lg fa-facebook text-facebook"></i></label>
          <div class="col-sm-8">
            https://facebook.com/<input type="text" class="form-control inline-block pad-5 vert-2" style="max-width: 115px" placeholder="username" ng-model="edit.ee.User.user.storefront_meta.audience.social.facebook">
            <span ng-if="edit.ee.User.user.storefront_meta.audience.social.facebook"><a href="https://facebook.com/{{ edit.ee.User.user.storefront_meta.audience.social.facebook }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label"><i class="fa fa-fw fa-lg fa-pinterest text-pinterest"></i></label>
          <div class="col-sm-8">
            https://pinterest.com/<input type="text" class="form-control inline-block pad-5 vert-2" style="max-width: 119px" placeholder="username" ng-model="edit.ee.User.user.storefront_meta.audience.social.pinterest">
            <span ng-if="edit.ee.User.user.storefront_meta.audience.social.pinterest"><a href="https://pinterest.com/{{ edit.ee.User.user.storefront_meta.audience.social.pinterest }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label"><i class="fa fa-fw fa-lg fa-twitter text-twitter"></i></label>
          <div class="col-sm-8">
            https://twitter.com/<input type="text" class="form-control inline-block pad-5 vert-2" style="max-width: 136px" placeholder="username" ng-model="edit.ee.User.user.storefront_meta.audience.social.twitter">
            <span ng-if="edit.ee.User.user.storefront_meta.audience.social.twitter"><a href="https://twitter.com/{{ edit.ee.User.user.storefront_meta.audience.social.twitter }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
          </div>
        </div>
        <div class="form-group vert-2">
          <label class="col-sm-4 control-label"><i class="fa fa-fw fa-lg fa-instagram text-instagram"></i></label>
          <div class="col-sm-8">
            https://instagram.com/<input type="text" class="form-control inline-block pad-5 vert-2" style="max-width: 112px" placeholder="username" ng-model="edit.ee.User.user.storefront_meta.audience.social.instagram">
            <span ng-if="edit.ee.User.user.storefront_meta.audience.social.instagram"><a href="https://instagram.com/{{ edit.ee.User.user.storefront_meta.audience.social.instagram }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-4 control-label"><i class="fa fa-fw fa-lg fa-envelope text-muted"></i></label>
          <div class="col-sm-8">
            Contact email
            <br>
            <input type="text" class="form-control" style="max-width: 255px" placeholder="Email address" ng-model="edit.ee.User.user.storefront_meta.audience.contact.email">
            <span ng-if="edit.ee.User.user.storefront_meta.audience.contact.email"><a href="mailto:{{ edit.ee.User.user.storefront_meta.audience.contact.email }}" target="_blank"><i class="fa fa-send"></i></a>
          </div>
        </div>
        <div class="form-group vert-5">
          <div class="col-sm-8 col-sm-offset-4">
            <ee-save></ee-save>
          </div>
        </div>
        <!-- /EDITOR top bar social -->
      </div>
      <!-- /SOCIAL -->

      <!-- BLOG -->
      <div ng-if="$state.current.name == 'edit.blog'">
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Blog</label>
          <div class="col-sm-6">
            <div class="input-group vert-2">
              <span class="input-group-addon"><i class="fa fa-fw fa-link"></i></span>
              <input type="text" class="form-control" placeholder="http://" ng-model="edit.ee.User.user.storefront_meta.blog.url">
              <span ng-if="edit.ee.User.user.storefront_meta.blog.url" class="input-group-addon white-background"><a href="{{ edit.ee.User.user.storefront_meta.blog.url | addHttp }}" target="_blank"><i class="fa fa-external-link"></i></a></span>
            </div>
            <ee-save class="inline-block vert-5"></ee-save>
          </div>
        </div>
      </div>
      <!-- /BLOG -->

      <!-- SEO -->
      <div ng-if="$state.current.name == 'edit.seo'">
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Custom h1 tag</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Enter your title for search engines" ng-model="edit.ee.User.user.storefront_meta.seo.h1">
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Custom meta description</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Describe your store for search engines" ng-model="edit.ee.User.user.storefront_meta.seo.description">
          </div>
        </div>
        <div class="form-group vert-5">
          <label class="col-sm-3 control-label">Custom meta code</label>
          <div class="col-sm-6">
            <textarea class="form-control" placeholder='<meta name="mytag" content="mycontent">' ng-model="edit.ee.User.user.storefront_meta.seo.code" rows=4></textarea>
            <ee-save class="inline-block vert-5"></ee-save>
          </div>
        </div>
      </div>
      <!-- /SEO -->

    </div>

  </div>
</div>

<ee-loading loading="edit.ee.loading"></ee-loading>
